body * {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    height:300px;
}

#title h1 {
    font-family: 'Josefin sans';
    font-size: 36px; /* responsive font size */
    padding-block: 2vh; /* responsive padding */
    color: whitesmoke;
    text-decoration: underline;

}

#title p {
    width: 90vw;
    background-color: navy;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    padding-inline: 5vw;
    padding-block: 2vh;
}

#extraStuff {
    width: 100vw;
    background-color: azure;
    text-align: center;
}

#subjects {
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Josefin sans';
    padding-block: 2vh;
    background-color: azure;
}

.subject {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;

}

.subject a {
    background-color: #000000;
    color: #ffffff;
    padding: 2vh;
    border-radius: 1vmin;
    transition: background-color 250ms;
    width: 8vw; /* responsive width */
}

.subject hr {
    width: 80%;
}
ul {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    text-align: left;
}
/* The alert message box */
.alert {
    position: sticky;
    top: 10px;
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }

* {
  box-sizing: border-box;
}
  .row {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
  }
/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
    width: 25%; 
    padding: 5px;
  }

/* Style the images inside the grid */
.column img {
  object-fit: cover;
  height: 350px;
  opacity: 1; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 0.8;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}
.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
}
.container:target {
  outline: none;
  top: 0;
  opacity: 1;
  pointer-events: auto;
}

.container:target img {
  top: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}