---

import "./countdown.css"

---
<!-- 
<div id="mCountdown-Container">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">
    <h1 class="aldrich-regular" id="countdown-timer"></h1>
    <script>
        let currentDate = new Date(); // today
        let targetDate = new Date(2025, 2, 25) // target date March, 25, 2025
        let timeBeforeTarget: number = Math.floor(Math.abs(targetDate.getTime() - currentDate.getTime()) / (1000)); // define this variable
        console.log(timeBeforeTarget)
        document.getElementById("countdown-timer").innerText = `T - ${Math.ceil(timeBeforeTarget/(24*60*60))}:${(timeBeforeTarget/(24*60))} `
    </script>
</div>
-->

