body *{
  margin: 0;
  padding:0;
}

body{
  overflow-x:hidden;
}

#background{
  position:absolute;
  width: 100vw;
  height: 1000px;
  object-fit: cover;
  z-index: -1;
}
#videoWrapper{
  width: 100vw;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#video{
  border: 5px solid black;
}

.titleText{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
html {
  height: 100%;
}

