<!-- Tada! no ids used  -->
<!-- -1 headaches now  -->
<!-- +999 headahces later -->
<footer>
    <div>
        <h1> 
            <img id="SPIN2" src="/NJROTC-Seal.svg" style="width: 40px; margin-inline: 5px;margin-bottom: 6px;"> 
            <img src="/NJROTC.svg" id="njrotc" />
        
            
        </h1>
            <div style="display: flex;">
                <a href="https://github.com/Parlier-NJROTC" style="background-image: url(/icons/Octocat.svg);"></a>
                <a href="https://www.instagram.com/parlierhsnjrotc/?hl=en" style="background-image: url(/icons/Instagram.svg);"></a>
            </div>
    </div>
    <hr>
    <div>
        <span>
            <h2> <img src="/Nend.svg" id="Nend" style="width: 120px;filter: invert(var(--svg-invert));" /></h2>
            <a href="mailto:njrotcparlier@gmail.com">
                <img class="map" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/200px-Gmail_icon_%282020%29.svg.png" style="height: 13px; width: 16px;left: -15%;bottom:0%;" alt="Gmail">
                njrotcparlier@gmail.com</a><span>  - Cyberpatriot Email & Feedback <br>
                </span>
            <a href="mailto:parliernavyjrotc@gmail.com">
                <img class="map" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/200px-Gmail_icon_%282020%29.svg.png" style="height: 13px; width: 16px;left: -15%;bottom:0%;" alt="Gmail">
                parliernavyjrotc@gmail.com</a><span> - Secondary Backup Email <br>
            </span>
            <a href="mailto:njrotcparlier@outlook.com">
                <img class="map" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/200px-Gmail_icon_%282020%29.svg.png" style="height: 13px; width: 16px;left: -15%;bottom:0%;" alt="Gmail">
                njrotcparlier@outlook.com</a><span> - Tertiary Backup Email <br>
                </span>
            <a href="mailto:felipe.gutierrez@parlierunified.org">
                <img class="map" src="https://my.parlierunified.org/parlier_white_stripe-e1502770301696.png" style="height: 20px; width: 20px;left: -10%;bottom:0%;" alt="Gmail">
                felipe.gutierrez@parlierunified.org</a><span> - Senior Chief Felipe Gutierrez <br>
                </span>
            <a href="mailto:jaycee.killian@parlierunified.org">
                <img class="map" src="https://my.parlierunified.org/parlier_white_stripe-e1502770301696.png" style="height: 20px; width: 20px;left: -10%;bottom:-5%;" alt="Gmail">
                jaycee.killian@parlierunified.org</a><span> - Chief Killian <br>
                </span>
            <span>
                Room 53 - NJROTC <br>
            </span>
        </span>
        <span>
            <h2>Parlier High School</h2> <!-- This Looks Nice? -->
            <a href="https://maps.app.goo.gl/jqcxigmEi427w2TK9">
                <img class="map" src="https://lh3.googleusercontent.com/9tLfTpdILdHDAvGrRm7GdbjWdpbWSMOa0csoQ8pUba9tLP8tq7M4Quks1xuMQAVnAxVfryiDXRzZ-KDnkPv8Sm4g_YFom1ltQHjQ6Q" alt="Description of the image">
                Address: 601 3rd St, Parlier, CA 93648</a> 
                <span><br>Phone: (559) 646-3573</span>
            </a>


        </span>
    </div>
</footer>
<style>
    @media (orientation: portrait) {
        #njrotc{
            width: 60%;
        }
    }
    @media (orientation: landscape) {
        #njrotc{
            width: 24%;
        }
    }
    #njrotc{
        padding-bottom: 0px;
        filter: invert(var(--svg-invert));
    }
    a .map{
        left: -9%;
        height: 20px;
        width: 20px;
        position: absolute;
        display: none;
        transition: ease-in-out 500ms;
    } 
    a:hover .map{
        display: inline;
        filter: contrast(50%);
    }
    a{
        color: var(--Text-color);
        transition: ease-in-out 250ms;
    }
    a:hover{
        color: var(--a-link);
        filter: contrast(200%);
    }
    footer{
        background: var(--footer-BG-color);
        padding-inline: 30px;
        padding-bottom: 15px;

        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    footer > div:nth-child(1){
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    h1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: normal;
        display: flex;
        align-items: center;
        color:var(--Text-color);
    }
    h1 img{
        transition: transform 2s ease-in-out;
    }
    h1 #SPIN2:hover{
        animation: rotole 50s infinite ease;
    }
    @keyframes rotole{
        0%{
        transform: rotate(0deg) ;
        }
        100%{
        transform: rotate(99999915deg) ;
        }
    }

    h2{
        font-weight: normal;
        color:var(--Text-color);
    }
    footer > div:nth-child(1) div a{
        display: inline-block;
        background-size: 100% 100%;
        width: 35px;
        height: 35px;
        margin-inline: 5px;
    }
    footer div:nth-child(3){
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    footer div:nth-child(3) span{
        text-align: center;
        color:var(--Text-color);
    }
    img {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -webkit-user-drag: none;
        -moz-user-drag: none;
        -ms-user-drag: none;
    }
</style>