
<header>
    <a href="/" style="color:white; text-decoration: none;display: flex;align-items:center;justify-content: space-evenly;grid-column: 2/2;font-family: Gill Sans MT, Gill Sans, Trebuchet MS, sans-serif;font-size: 40px;"> 
        <img style="width: 50px;" src="/NJROTC-Seal.svg">
        <img src="/NJROTC.svg" style="width: 250px;" />
    </a>
    <!--<a href="/Login"><button>Login</button></a> no completo -->
    <!--Despite this being here, it still triggers the menus, clever -->
    <label for="box" style="font-family: 'Times New Roman', Times, serif; font-weight: 100;">&#8801; <!--This is the ≡ (Hamburger) character, DO NOT DELETE --></label>
</header>

<!-- very nice  -->

<!-- This style only applies here and no where else, still you can only use 1 id per item-->
<style>

    header{
        position: relative;
        left: 0;
        top:0;
        width: 100%;
        height: 130px;
        filter: none; 

        display: grid;
        grid-template-columns: 40px 350px 1fr;
        
        align-items: center;
        justify-items: stretch;

        border-block: 1px solid lemonchiffon;
        background: linear-gradient(15deg, rgb(0, 0, 80),navy,#6F4E37, gold);

        -webkit-user-select: none; 
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none; 
    }
    header label{
        justify-self: end;
        font-size: 50px;
        color: white;
        margin-right: 30px;
    }
    button {
    color: #ffffff;
    background: rgb(0, 0, 0);
    width: 10vw;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border: solid 1px rgb(32, 31, 31);
    border-radius: 10px;
    align-self: right; /* This line moves the button to the right */
    transition: ease-in-out 3s;
}

    button:hover {
    background: none;
    font-size: 18px;
  }

  img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
}
@media (orientation: portrait) {
    header label{
        margin-right: 17.2%;
    }
}

</style>
<script lang="js">
(function() {
  function detectDevTools(allow) {
    if (isNaN(+allow)) allow = 100;
    
    var start = +new Date();
    debugger;
    var end = +new Date();

    if (isNaN(start) || isNaN(end) || end - start > allow) {
      console.log("DevTools detected!");
      console.log(`Hey don't Copy and Paste text in the console. you can join our Cyber-Patriot team`);

    }
  }

  if (window.attachEvent) {
    if (document.readyState === "complete" || document.readyState === "interactive") {
      detectDevTools();
      window.attachEvent('onresize', detectDevTools);
      window.attachEvent('onmousemove', detectDevTools);
      window.attachEvent('onfocus', detectDevTools);
      window.attachEvent('onblur', detectDevTools);
    } else {
      setTimeout(arguments.callee, 0);
    }
  } else {
    window.addEventListener('load', detectDevTools);
    window.addEventListener('resize', detectDevTools);
    window.addEventListener('mousemove', detectDevTools);
    window.addEventListener('focus', detectDevTools);
    window.addEventListener('blur', detectDevTools);
  }
})();

  </script>