<input type="checkbox" id="box">
<nav id="menus">
    <header>
        <h2>Menus</h2>
        <label for="box" id="close">X <!-- this is the close button charater, DON'T DELETE --></label>
    </header>
    <nav id="navi">
        <span>
            <a>Home</a>
        </span>
        <span>
            <a>Cadets Info</a>
            <div>
                <a>Tutorials</a>
                <a>Knowledge</a>
            </div>
        </span>
        <span>
            <a>Teams</a>
            <div>
                <a>Drill Team</a>
                <a>Color Guard</a>
                <a>Rifle Team</a>
                <a>Cyberpatriot Team</a>
                <a>Academics Team</a>
            </div>
        </span>
        <span>
            <a>Classes</a>
            <div>
                <a>NS1 - 4nd Period</a>
                <a>NS1 - 6th Period</a>
                <a>NS2 - 5th Period</a>
                <a>NS3 - 3rd Period</a>
                <a>NS4 - 2nd Period</a>
                <a>Leadership - 7th Period</a>
            </div>
        </span>
        <span>
            <a>Instructor</a>
        </span>
        <span>
            <a>Events</a>
            <div>
                <a>Calendar</a>
                <a>Fundraising</a>
            </div>
        </span>
        <span>
            <a>Gallery</a>
        </span>
        <span>
            <a>Links</a>
            <div>
                <a>Parlier High School</a>
                <a>Instagram</a>
                <a>Parlier Unifed School District</a>
                <a>Midway Foundation</a>
                <a>Github</a>
                <a>Discod</a>
                <a>Credits</a>
            </div>
        </span>
    </nav>
</nav>
<style>
    #menus{
        position: fixed;
        overflow-x: hidden;
        background-color: navy;
        top:0px;
        right: 0px;
    }
    #box{
        display: none;
    }
    header{
        background-color: darkblue;
        height: 130px;
        color:white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header h2, header label{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: normal;
        font-size: 30px;
        margin-inline:35px;
    }

    #navi{
        display: grid;
        position: relative;
        height: calc(100vh - 130px);
    }
    #navi > span > a{
        display: inline-block;

        position: relative;

        display: flex;
        align-items: center;
        justify-content: right;

        margin: 0px;
        padding-right: 25px;

        
        height: 100%;

        color: white;
    }
    #navi > span{
        padding: 0px;
    }
    #navi > span > div{
        display: none;
        position: absolute;
    }

    @media (orientation: portrait) {
        #menus{
            width: 100vw;
            max-height: 0vh;
            transition: max-height 250ms;
        }
        #box:checked ~ #menus{
            max-height: 100vh;
            height: 100vh;
            transition: max-height 250ms;
        }
    }
    @media (orientation: landscape){
        #menus{
            max-width: 0px;
            height: 100vh;
            transition: max-width 200ms;
        }
        #box:checked ~ #menus{
            max-width: 300px;
            width:300px;
            transition: max-width 250ms;
        }
        

    }
</style>