---
    import Layout from "../../layouts/GlobalLayout.astro"
---

<Layout title="Gallery">
    <h1>I believe we could dynamically genorate this later</h1>
    <p>
        heres a link: <br>
        https://docs.astro.build/en/tutorial/5-astro-api/2/
    </p>
</Layout>
<style>
    body *{
        color: black;
    }
    p{
        margin-bottom: 90vh;
    }
</style>