---
    import Top from "../../components/Sections/Top.astro";
    import Layout from "../../layouts/GlobalHTMLLayout.astro";
    import data from '../../data/gallery.json'
---

<Layout name="hi">
    <Top image="https://raw.githubusercontent.com/Parlier-NJROTC/Gallery/main/teaching.jpeg">
        <h1><u>Photo Gallery</u></h1>
        <div style="background-color: navy; padding-inline: 5vw; padding-block:10px;">
            Welcome to the Gallary, our masive picture collection. Here is where our pictures are stored
        </div>
    </Top>
    <h1 style="color: black;">Instructions</h1>
    <ul style="color: black;">
        <li style="color: black;">Navigate through pages to see different images</li>
        <img src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Other/Preview.gif">
        <li></li>
    </ul>
    <nav id="navBar">
        <a href="/Gallery" class="navBtn">Home</a>
    </nav>
    <script is:inline>
document.getElementById('stufff').addEventListener('load', function() {
    var object = this;
    // Assuming the content provides its dimensions through its naturalWidth and naturalHeight properties
    object.width = object.naturalWidth;
    object.height = object.naturalHeight;
});
    </script>
</Layout>
<script define:vars={{data}}>
        for(let i=0;i<data.length;i++){
        let button = document.createElement("a")
        button.innerText = data[i].page
        button.href = `/Gallery/Page-${data[i].page}`
        button.className = "navBtn"
        
        // I could have applied a class, but that doesn't work in astro
        // Astro isolates styles, elements made in js arn't part of that isolation
        // So even if I where to apply the class name, it won't work
        button.style.fontFamily = 'Times'
        button.style.backgroundColor = "rgb(0, 0, 151)"
        button.style.borderRadius = "5px"

        button.style.display = "flex"
        button.style.justifyContent = "center"
        button.style.alignItems = "center"


        document.getElementById("navBar").appendChild(button)
    }
</script>

<style>
    main{
        display: flex;
        flex-wrap: wrap;
        gap: 1.0rem;
        justify-content: center;
        padding-block: 50px;
    }
    .navBtn{
        font-family: 'Times New Roman', Times, serif;
        background-color: rgb(0, 0, 151);
        border-radius: 5px;
        padding-inline: 20px;

        display: flex;
        justify-content: center;
        align-items: center;

        
    }
    #navBar{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 50px;
        grid-auto-columns: 40px;
        grid-auto-rows: 35px;
        column-gap: 10px;

        align-items: stretch;
        justify-items: stretch;

        padding: 10px;
        border-block: 10px double black;
        max-width: 100vw;
        width: 100vw;
        overflow-x: scroll;
    }
    #topPhotos{
        padding: 10px;
        border-block: 10px double black; 
    }
</style>