---
    import Layout from "../../../../layouts/GlobalHTMLLayout.astro"
    import Top from "../../../../components/Sections/Top.astro";
    import Arrow from "../../../../components/Sections/Arrow.astro"
---


<Layout name="Chain Of Command">

    <Top image="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Other/IMG_1645.JPEG">
        <div id="title">
            <div>Parlier NJROTC</div>
            <div>Chain of Command</div>
        </div>
    </Top>
    <div id="info">
        <div id="chain">

            <div class="person">
                <div class="about">
                    <div class="personName">Commanding Officer (CO) | PlaceHolder </div>
                    <hr class="line">
                    <div class="personAbout">
                        Works with the XO and CMC to ensure the proper execution of direction, leadership, safety, well-being, and efficiency of the Unit.  The Cadet Commander will ensure Unit activities are selected, managed, and successfully completed.  CO is overall responsible for the actions of every Cadet in or out of uniform.  CO will ensure that there is proper training and evaluation of Cadets during their tour. CO works with all staff members and units to ensure that student safety and education are always placed first.
                        <br> <h3 style="color: red; font-size:10px;"> (This person is required to complete before-school morning check-in and after-school afternoon check-out with the Chief daily) 
                        </h3>
                    </div>
                </div>
                <img class="portrait" src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/vecteezy_user-profile-vector-flat-illustration-avatar-person-icon_37336395.jpg">
            </div>
            <div class="down">
                <Arrow></Arrow>
            </div>
            <div class="person">
                <div class="about">
                    <div class="personName">Executive Officer (XO) | PlaceHolder</div>
                    <hr class="line">
                    <div class="personAbout">
                        Works directly with the  Cadet Commanding Officer for all matters relating to personnel, unit routine, and discipline.  The executive Officer will oversee the performance and execution of the Units Officers and Enlisted Cadets.
                        <br> <h3 style="color: red; font-size:10px;"> (Is required to stay after school at least three times a week) 
                        </h3>
                    </div>
                </div>
                <img class="portrait" src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/vecteezy_user-profile-vector-flat-illustration-avatar-person-icon_37336395.jpg">
            </div>
            <div class="down">
                <Arrow></Arrow>
            </div>
            <div class="person">
                <img class="portrait" src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/vecteezy_user-profile-vector-flat-illustration-avatar-person-icon_37336395.jpg">
                <div class="about">
                    <div class="personName">Command Master Chief (CMC) | PlaceHolder</div>
                    <hr class="line">
                    <div class="personAbout">
                        Works directly with CO and XO and helps with matters concerning, morale, personal problems, and quality of life for the Enlisted Cadet regardless of rank.
                        <br> <h3 style="color: red; font-size:10px;"> (This position is hand-selected by NSI. In order to apply for this position you will be required to complete a knowledge test, a practical test, and complete Leadership Academy.) 
                        </h3>
                    </div>
                </div>
            </div>
            <div class="down">
                <Arrow></Arrow>
            </div>
            <div class="person">
                <img class="portrait" src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/vecteezy_user-profile-vector-flat-illustration-avatar-person-icon_37336395.jpg">
                <div class="about">
                    <div class="personName">Speaker of the house | PlaceHolder</div>
                    <hr class="line">
                    <div class="personAbout">
                        An easy way to remeber him is by this rhyme "Drop the mic Mike Johnson"
                    </div>
                </div>
            </div>
            <div class="down">
                <Arrow></Arrow>
            </div>
            <div class="person">
                <div class="about">
                    <div class="personName">Cheif of Naval Operations | PlaceHolder</div>
                    <hr class="line">
                    <div class="personAbout">
                        An easy way to remeber him is by this rhyme "Lisa, bring the Confetti Franchetti" or just
                        "Confetti
                        Franchetti"
                    </div>
                </div>
                <img class="portrait" src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/vecteezy_user-profile-vector-flat-illustration-avatar-person-icon_37336395.jpg">
            </div>
            <div class="down">
                <Arrow></Arrow>
            </div>
            <div class="person">
                <div class="about">
                    <div class="personName">Naval Education and Training Commander | PlaceHolder</div>
                    <hr class="line">
                    <div class="personAbout">
                        He sounds russian
                    </div>
                </div>
                <img class="portrait" src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/vecteezy_user-profile-vector-flat-illustration-avatar-person-icon_37336395.jpg">
            </div>
            <div class="down">
                <Arrow></Arrow>
            </div>
            <div class="person">
                <img class="portrait" src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/vecteezy_user-profile-vector-flat-illustration-avatar-person-icon_37336395.jpg">
                <div class="about">
                    <div class="personName">Naval Service Training Commander | PlaceHolder</div>
                    <hr class="line">
                    <div class="personAbout">
                        A good way to remember him is by these words that sound simlilar "Crazy Tree Matt"
                    </div>
                </div>
            </div>
            <div class="down">
                <Arrow></Arrow>
            </div>
            <div class="person">
                <img class="portrait" src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/vecteezy_user-profile-vector-flat-illustration-avatar-person-icon_37336395.jpg">
                <div class="about">
                    <div class="personName">Area service Maneger | PlaceHolder</div>
                    <hr class="line">
                    <div class="personAbout">
                        "He is not who you expect" - Cheif
                    </div>
                </div>
            </div>
            <div class="down">
                <Arrow></Arrow>
            </div>
            <div class="person">
                <div class="about">
                    <div class="personName">Naval Science Instructor | PlaceHolder</div>
                    <hr class="line">
                    <div class="personAbout">
                        Your naval science instructor, the one incharge of your unit. If you don't her. the
                        hecc are you
                        doing!?
                    </div>
                </div>
                <img class="portrait" src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/vecteezy_user-profile-vector-flat-illustration-avatar-person-icon_37336395.jpg">
            </div>
            <div class="down">
                <Arrow></Arrow>
            </div>
            <div class="person">
                <div class="about">
                    <div class="personName">CO | PlaceHolder</div>
                    <hr class="line">
                    <div class="personAbout">
                        She is the right hand of cheif, if you need any help you can go ask her.
                    </div>
                </div>
                <img class="portrait" src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/vecteezy_user-profile-vector-flat-illustration-avatar-person-icon_37336395.jpg">
            </div>
        </div>
    </div>
</Layout>

<style>
    body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x:hidden;
    
}


#background{
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-repeat: no-repeat, repeat;
    background-position: 0% 25%;
    background-size: cover;
    
    
}
#title{
    position: relative;
    color: white;
    padding-inline: 5px;
    font-size: 50px;
    display: grid;
    row-gap: 50px;
    padding: 10px;
}
#title :nth-child(1){
    position: relative;
    left: -5vw;
    background-color: rgba(255, 215, 0, 0.4);
    box-shadow: 0px 0px 10px 10px rgba(255, 215, 0, 0.4);
    padding: 5px;
    
}
#title :nth-child(2){
    position: relative;
    right: -5vw;

    background-color: rgba(0, 0, 125, 0.4);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 125, 0.4);
    padding: 5px;
}
#title::before{
    content: "";
    position: absolute;
    top: -10px;
    left: -7vw;
    width: 50%;
    height: 5px;
    background-color: gold;
}
#title::after{
    content: "";
    position: absolute;
    bottom: -10px;
    right: -7vw;
    width: 50%;
    height: 5px;
    background-color: navy;
}
#info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    background-color:#d7e4ec;
    text-align: center;
}
#chain{
    position: relative;
    display: grid;
    width: 100vw;
    padding-bottom: 50px;
}
.person{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about{
    width: 50vw;
}
.personName{
    width: 50vw;
    height: 100px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.personAbout,
 h3{
    padding-inline: 1.8vw;
    width: 50vw;
    font-size: 16px;
    box-sizing: border-box;
    color: black;
}
.line{
    align-self: start;
    width: 40vw;
    margin-inline:5vw;
}
.portrait{
    width: 30vmin;
    align-self: end;
    right: 0px;
    margin-inline: 10vw;
    margin-block: 5vmin;
    border-image: linear-gradient(25deg ,navy ,#4E65FF,#92EFFD) 1;
    border-width: 4px;
    border-style: solid;
}

.down{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.arrow{
    width: 10vmin;
}
</style>