---
import Layout from "../../../../layouts/GlobalHTMLLayout.astro";
import Boxess from "../../../../components/Sections/Ribbon.astro"

---


<Layout name="Ribbon Rack Builder">
  <h1 style="color: black;">  <img src="/NJROTC-Seal.svg" style="width: 50px;  margin: -9px;"> NJROTC Ribbon Rack Builder  <img src="/NJROTC-Seal.svg" style="width: 50px; margin: -9px;"></h1>
  <h2 style="color: black;"><div>AD FREE RIBBON RACK BUILDER</h2>
  <hr style="background: white;">
  <div id="ribbon-selection" style="background: white;">
    <div class="ribbon-selection">
      <Boxess numberR="ribbon1" namelink="Meritorious Achievement Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/meritorious_achievement_ribbon.png"></Boxess>
      <Boxess numberR="ribbon2" namelink="Distinguished Unit Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/distinguished_unit_ribbon.png"></Boxess>
      <Boxess numberR="ribbon3" namelink="Distinguished Cadet Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/distinguished_cadet_ribbon.png"></Boxess>
      <Boxess numberR="ribbon4" namelink="Honor Cadet Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/honor_cadet_ribbon.png"></Boxess>
      <Boxess numberR="ribbon5" namelink="Cadet Achievement Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/cadet_achievement_ribbon.png"></Boxess>
      <Boxess numberR="ribbon6" namelink="Unit Achievement Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/unit_achievement_ribbon.png"></Boxess>
      <Boxess numberR="ribbon7" namelink="Aptitude Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/aptitude_ribbon.png"></Boxess>
      <Boxess numberR="ribbon8" namelink="Naval Science IV Outstanding Cadet Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/naval_science_iv_outstanding_cadet_ribbon.png"></Boxess>
      <Boxess numberR="ribbon9" namelink="Naval Science III Outstanding Cadet Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/naval_science_iii_outstanding_cadet_ribbon.png"></Boxess>
      <Boxess numberR="ribbon10" namelink="Naval Science II Outstanding Cadet Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/naval_science_ii_outstanding_cadet_ribbon.png"></Boxess>
      <Boxess numberR="ribbon11" namelink="Naval Science I Outstanding Cadet Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/naval_science_i_outstanding_cadet_ribbon.png"></Boxess>
      <Boxess numberR="ribbon12" namelink="Exemplary Conduct Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/exemplary_conduct_ribbon.png"></Boxess>
      <Boxess numberR="ribbon13" namelink="Exemplary Personal Appearance Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/exemplary_personal_appearance_ribbon.png"></Boxess>
      <Boxess numberR="ribbon14" namelink="Physical Fitness Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/physical_fitness_ribbon.png"></Boxess>
      <Boxess numberR="ribbon15" namelink="Participation Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/participation_ribbon.png"></Boxess>
      <Boxess numberR="ribbon16" namelink="Unit Service Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/unit_service_ribbon.png"></Boxess>
      <Boxess numberR="ribbon17" namelink="Community Service Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/community_service_ribbon.png"></Boxess>
      <Boxess numberR="ribbon18" namelink="Academic Award Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/academic_award_ribbon.png"></Boxess>
      <Boxess numberR="ribbon19" namelink="Drill Team Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/drill_team_ribbon.png"></Boxess>
      <Boxess numberR="ribbon20" namelink="Color Guard Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/color_guard_ribbon.png"></Boxess>
      <Boxess numberR="ribbon21" namelink="S.T.E.M Ribbon" rlink="https://github.com/Parlier-NJROTC/Assets/blob/main/Ribbon/stem.png?raw=true"></Boxess>
      <Boxess numberR="ribbon22" namelink="Marksmanship Team Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/refs/heads/main/Ribbon/marksmanships_eam.png"></Boxess>
      <Boxess numberR="ribbon23" namelink="Orienteering Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/orienteering_ribbon.png"></Boxess>
      <Boxess numberR="ribbon24" namelink="Inter Service Competition Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/inter_service_competition_ribbon.png"></Boxess>
      <Boxess numberR="ribbon25" namelink="Recruiting Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/recruiting_ribbon.png"></Boxess>
      <Boxess numberR="ribbon26" namelink="Basic Leadership Training Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/basic_leadership_training_ribbon.png"></Boxess>
      <Boxess numberR="ribbon27" namelink="Sea Cruise Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Ribbon/sea_cruise_ribbon.png"></Boxess>
      <Boxess numberR="ribbon28" namelink="C.E.R.T. Ribbon" rlink="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/refs/heads/main/Ribbon/cert.png"></Boxess>
      <!-- Add more ribbons as needed -->
    </div>
    <div class="none" id="centered-box" >
      <div class="separator"></div>
      <div class="ribbon-rack"></div>
    </div>
    <hr>
  </div>
</Layout>

    <style>
      body * {
        color: black;
        text-align: center;
      }

      .box-text{
        position: absolute;
        width: 90%;
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        border: 3px solid black;
        border-top:none;
        border-bottom:none;
        top: -75px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 24px;
        padding: 10px;
        color: black;
        transition: 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
      }
      .box-text:hover{
        top: -80px;
        border: 3px solid rgb(255, 0, 0);
        border-right:none;
        border-left:none;
      }
      .ribbon-rack {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        gap: 0px; 
        max-width: 400px; 
        margin: 0 auto; 

        transform: rotate(180deg);
      }

    .ribbon-rack img {
      max-width: 100px; 
      height: auto; 

      transform: rotate(180deg);
    }

      #centered-box {
       position: fixed;
       top: 50%;
       right: 0%;
       width: 40%;
       height: 300px;
       
       box-shadow: 0 0 1rem #0003;
       background-color: #ffffff26;
       backdrop-filter: blur(5px);
       border-radius: 10px;

       border:solid 5px #ffffff26;

       display: flex;
       justify-content: center;
       align-items: center;
       transition: transform 1s ease-out;
      }
      #centered-box.none{
        transform: translate(100%, -50%);
      }
      body {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -webkit-user-drag: none;
        -moz-user-drag: none;
        -ms-user-drag: none;
    }
    .ribbon-selection{
      border: 1px solid rgb(255, 255, 255);
      border-left: none;
      border-right:none;

      width: 50%;
      margin: 0;
      height: 100%;
      border-width:100%;

      display: flex;
      flex-wrap: wrap;
    }
    @media (orientation: portrait) {
      #centered-box{
        width: 80%;
      }
      .ribbon-selection{
        width: 100%;
      }
    } 


    </style>
    
    <script lang="js">
      const ribbonSelection = document.querySelector('.ribbon-selection');
      const ribbonRack = document.querySelector('.ribbon-rack');
      const selectedRibbons = new Set();
      const displayOrder = ['Meritorious Achievement Ribbon', 'Distinguished Unit Ribbon', 'Distinguished Cadet Ribbon', 'Honor Cadet Ribbon', 'Cadet Achievement Ribbon', 'Unit Achievement Ribbon', 'Aptitude Ribbon', 'Naval Science IV Outstanding Cadet Ribbon', 'Naval Science III Outstanding Cadet Ribbon', 'Naval Science II Outstanding Cadet Ribbon', 'Naval Science I Outstanding Cadet Ribbon', 'Exemplary Conduct Ribbon', 'Exemplary Personal Appearance Ribbon', 'Physical Fitness Ribbon', 'Participation Ribbon', 'Unit Service Ribbon', 'Community Service Ribbon', 'Academic Award Ribbon', 'Drill Team Ribbon', 'Color Guard Ribbon', ,'S.T.E.M Ribbon', 'Marksmanship Team Ribbon', 'Orienteering Ribbon', 'Inter Service Competition Ribbon', 'Recruiting Ribbon', 'Basic Leadership Training Ribbon', 'Sea Cruise Ribbon','C.E.R.T. Ribbon'];
    
      ribbonSelection.addEventListener('change', handleRibbonChange);
      
      document.querySelectorAll('#ribbon-option').forEach(option => {
        option.addEventListener('click', handleRibbonOptionClick);
        const label = option.querySelector('label');
        if (label) {
          label.addEventListener('click', handleLabelClick);
        }
      });
    
      function handleRibbonChange(event) {
        const ribbon = event.target.closest('.ribbon-option');
        const ribbonImage = ribbon.querySelector('img');
    
        if (event.target.checked) {
          if (!selectedRibbons.has(ribbonImage.src)) {
            addRibbon(ribbonImage);
          }
        } else {
          removeRibbon(ribbonImage);
        }
    
        updateCenteredBox();
      }
    
      function handleRibbonOptionClick(event) {
        const checkbox = event.currentTarget.querySelector('input[type="checkbox"]');
        if (checkbox) {
          checkbox.click();
        }
      }
    
      function handleLabelClick(event) {
        const ribbonOption = event.target.closest('#ribbon-option');
        if (ribbonOption) {
          const checkbox = ribbonOption.querySelector('input[type="checkbox"]');
          if (checkbox) {
            checkbox.click();
          }
        }
      }
    
      function addRibbon(ribbonImage) {
        const newRibbonImage = document.createElement('img');
        newRibbonImage.src = ribbonImage.src;
        newRibbonImage.style = "transform: rotate(180deg);user-select: none; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; -webkit-user-drag: none; -moz-user-drag: none; -ms-user-drag: none;"
        newRibbonImage.alt = ribbonImage.parentElement.querySelector('label').textContent;
        selectedRibbons.add(ribbonImage.src);
    
        const displayedImages = [...ribbonRack.getElementsByTagName('img')];
        displayedImages.push(newRibbonImage);
    
        displayedImages.sort((a, b) => displayOrder.indexOf(b.alt) - displayOrder.indexOf(a.alt));
    
        ribbonRack.innerHTML = '';
        displayedImages.forEach(image => ribbonRack.appendChild(image));
      }
    
      function removeRibbon(ribbonImage) {
        if (selectedRibbons.has(ribbonImage.src)) {
          const ribbonImages = Array.from(ribbonRack.getElementsByTagName('img'));
          const imgToRemove = ribbonImages.find(img => img.src === ribbonImage.src);
          selectedRibbons.delete(ribbonImage.src);
          ribbonRack.removeChild(imgToRemove);
        }
      }
    
      function updateCenteredBox() {
        let checkboxes = document.querySelectorAll('input[type="checkbox"]');
        let checkedCount = 0;
    
        checkboxes.forEach(checkbox => {
          if (checkbox.checked) {
            checkedCount++;
          }
        });
    
        const centeredBox = document.getElementById('centered-box');
    
        if (checkedCount > 0) {
          centeredBox.style.transform = 'translate(0, -50%)';
          console.log("More than one checkbox is checked.");
        } else {
          centeredBox.style.transform = 'translate(100%, -50%)';
          console.log("One or no checkboxes are checked.");
        }
      }
    
      document.getElementById('checkbox').addEventListener('change', function() {
        var ribbonOption = this.parentElement;
        if (this.checked) {
          ribbonOption.classList.add('checked');
        } else {
          ribbonOption.classList.remove('checked');
        }
      });
    </script>    
    
</Layout>