---
interface Props {
    title: string,
    link?: string,
    id:string
}

const { title ,link = title, id} = Astro.props

---


<!-- I am going to self destruct -->
<span id="whywontthiswork">
    <input type="checkbox" id={id}> </input>
    <label for={id}> <img src="/icons/arrow.svg"> </label>
    <a href=`/${link}`> {title} </a>
    <div>
        <slot />
    </div>
</span>


<style>
    span{
        display: grid;
        position: relative;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        justify-content: space-between;
        align-items:center ;

    }
    span a{
        position: relative;

        display: flex;
        align-items: center;
        justify-content: right;

        margin: 0px;
        padding-right: 25px;
        
        height: 100%;

        color: white;
    }
    span input{
        display: none;
    }
    span label{
        color: white;
    }
    span label img{
        width: 24px;
        filter: invert(1);
        transition: transform 250ms;
        margin-left: 20px;
    }
    span div{
        max-height: 0px;
        overflow: hidden;
    }
    span input:checked ~ div{
        max-height: 99999px;
    }
    span input:checked ~ label img{
        transform: scaleY(-1);
    }
    
    

    
</style>