---
interface Props {
    title: string,
    link?: string,
}

const { title ,link = title} = Astro.props


---


<!-- I am going to self destruct -->

<script>
    

</script>

<span>
    <a href=`/${link}`> {title} </a>
</span>



<script>
    // @ts-check


    
</script>

<style>
    span{
        display: grid;
        position: relative;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-content: space-between;
        align-items:center ;
    }
    span a{
        position: relative;

        display: flex;
        align-items: center;
        justify-content: right;

        margin: 0px;
        padding-right: 25px;
        
        height: 100%;

        color: white;
    }
</style>
