html, body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height:100%;
}


main{
    display: grid;
    grid-template-columns: 50vw;
    grid-template-rows: 500px;
    grid-template-areas: 
    "title   calendar"
    "article article";
    
}

iframe{
    margin-block: 20px;
    width: 40vw;
    height: 50vmin;
}

article{
    grid-area: article;
    width: 100%;
    height: 100%;
    background-color: beige;
    padding: 3vw;
    box-sizing: border-box;
}



#background{
    width: 50vw;
    background-color: rgb(237, 235, 233);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    grid-area: title;
}
#title{
    position: relative;
    color: white;
    
    padding-inline: 5px;
    font-size: 50px;
    display: grid;
    grid-template-areas: 
    "A A"
    "B C";
    grid-template-columns: 2fr 1fr;
    row-gap: 50px;
    padding: 10px;

}
#title :nth-child(1){
    position: relative;
    background-color: rgba(203, 163, 88, 0.5);
    box-shadow: 0px 0px 10px 10px rgba(203, 163, 88, 0.5);
    padding: 5px;
    grid-area: A;
}
#title :nth-child(2){
    position: relative;
    background-color: rgba(0, 98, 65, 0.5);
    box-shadow: 0px 0px 10px 10px rgba(0, 98, 65, 0.5);
    padding: 5px;
    grid-area: B;
}
#title::before{
    content: "";
    position: absolute;
    top: -2.5%;
    left: -2vw;
    width: 5px;
    height: 50%;
    background-color: rgba(203, 163, 88, 1);
}
#title::after{
    content: "";
    position: absolute;
    bottom: -2.5%;
    right: -2vw;
    width: 5px;
    height: 50%;
    background-color: green;
}

#calendar{
    background-color: #faf6ee;
    grid-area: calendar;
    text-align: center;
}