body * {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#background {
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
}

#title {
    position: relative;
    font-size: 50px;
    background-color: whitesmoke;
    text-shadow: rgb(0, 65, 156) 1px 0 15px;
    padding: 50px;
}

#title::before {
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    width: 50%;
    height: 50%;
    background-color: gold;
    z-index: -1;
}

#title::after {
    content: "";
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 50%;
    height: 50%;
    background-color: blue;
    z-index: -1;
}


.option {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: gainsboro;
    padding-block: 20px;
    padding-inline: 5vw;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-items: stretch;
}

aside {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;

}

aside img {
    width: 300px;
    border: solid 1px;
    border-radius: 5px;
}

aside h1 {
    width: 75%;
}

aside hr {
    width: 100%;
    position: relative;
    margin-block: 20px;
}

article {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 40px;
    font-size: 21px;
}

article button {
    background-color: #000000;
    color: #ffffff;
    width: 25vw;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
} 
  article button:hover {
    background-color: #808080;
    font-size: 18px;
    padding: 11px
  }

@media (width < 800px) {
    .option {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    aside {
        align-items: center;
        order: 0;
    }

    article {
        order: 1;
    }
}