---
import Top from "../../../components/Sections/Top.astro";
import Layout from "../../../layouts/GlobalHTMLLayout.astro";
---
<Layout name="tutorials">
    
    <Top image="https://raw.githubusercontent.com/Parlier-NJROTC/Gallery/main/teaching.jpeg">
        <h1>NJROTC Tutorials</h1>
        <p>Welcome to the NJROTC tutorials page! Here, you'll find a variety of tutorials to help you learn more about
            NJROTC and related</p>
    </Top>
    <div id="subjects">
        <div class="subject">
            <h2 class="toggle">Uniform</h2>
            <ul class="links">
                <li><a target="_blank" href="https://www.youtube.com/watch?v=_1ImyjaUjSk&t">Ironing</a></li>
                <li><a target="_blank" href="https://www.youtube.com/watch?v=gKgQCH9HHjg">How to Wear Uniform Males</a></li>
                <li><a target="_blank" href="https://www.youtube.com/watch?v=KbHut3z_lt8">How to Wear Uniform Females</a></li>
                <li><a target="_blank" href="https://www.youtube.com/shorts/4_gpK2USYI8">Belt Buckle</a></li>
                <li><a target="_blank" href="https://www.youtube.com/shorts/Ocu_wCTBUig">Belt</a></li>
                <li><a target="_blank" href="https://www.youtube.com/shorts/aPVo_ke4rMA">Shoe laces</a></li>
                <li><a target="_blank" href="https://youtu.be/QzC2GY-AAA0?si=Z5TcVxyxqM4eT7jr">Shoe Polishing</a></li>
                <li><a target="_blank" href="https://youtu.be/rll0HxGnxqE?si=4pu3Na7f31eLa4Cp">Hair Bun</a></li>
            </ul>
        </div>
        <div class="subject">
            <h2 class="toggle">Drill</h2>
            <ul class="links">
                <li><a target="_blank" href="https://youtu.be/MEL5Wga1hlI?si=dVdPY1qdCt9sfQ0m">Drill movements</a></li>
            </ul>
        </div>
        <div class="subject">
            <h2 class="toggle">Physical Training</h2>
            <ul class="links">
                <li><a target="_blank" href="https://youtu.be/P42PSmFK5ek?si=g2ZVo_LSQvxrB-Tl">Running</a></li>
                <li><a target="_blank" href="https://youtu.be/KTSKEYp8WpM?si=rDlXfPazhGKBSgFZ">Planks</a></li>
                <li><a target="_blank" href="https://youtu.be/PTwnTUPsG2E?si=PWGU14XDxVkZxJKY">Push up Pratice</a></li>
                <li><a target="_blank" href="https://youtu.be/Get-JgZvI0A?si=VcqVP7iOPVaWngab">Push up Training</a></li>
            </ul>
        </div>
    </div>
    <p id="extraStuff">TBA* To be added, or worked on at a later date </p>
</Layout>

<style>
:root{
    --align:center;
}
    body * {
    margin: 0;
    padding: 0;
}

/* Default styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* Styles for smaller screens */
@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    section {
        margin-bottom: 10px;
    }
}
@media (orientation:  ) {
    #subjects{
        flex-wrap: wrap;
    }
}
#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    height:300px;
}

#title h1 {
    font-family: 'Josefin sans';
    font-size: 36px; /* responsive font size */
    padding-block: 2vh; /* responsive padding */
    color: whitesmoke;
    text-decoration: underline var(--Text-color);

    /* Media Query for smaller screens */
    @media (max-width: 768px) {
        font-size: 24px;
        padding-block: 1vh;
    }
}

#title p {
    width: 90vw;
    background-color: navy;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    padding-inline: 5vw;
    padding-block: 2vh;

    /* Media Query for smaller screens */
@media (max-width: 768px) {
        font-size: 10px;
        padding-inline: 2vw;
        padding-block: 1vh;
    }
}

#extraStuff {
    width: 100vw;
    background-color: var(--tutorial-BG-color);
    text-align: center;

    /* Media Query for smaller screens */
    @media (max-width: 768px) {
        font-size: 10px;
    }
}

#subjects {
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Josefin sans';
    padding-block: 2vh;
    background-color: var(--tutorial-BG-color);
    height: auto;
}
    .subject h2 {
    border: solid 3px black;
    border-left: none;
    border-top: none;
    border-right: none;
    }

.subject {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;
    transition: 250ms;

}

.subject a {
    background-color: #000000;
    color: #ffffff;
    padding: 2vh;
    border-radius: 1vmin;
    transition: background-color 250ms;
    min-width: 200px;
    margin: 0 auto;
    padding: 20px;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    }


.subject hr {
    width: 80%;
}
.subject h2{
    color: var(--Text-color);
}
.subject a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);

    border: 2px solid #000000;
    padding: 18px;
    background-clip: border-box;
}

ul {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    text-align: left;
    color: var(--Text-color);
}

    .subject h2 {
        border: solid 3px black;
        border-left: none;
        border-top: none;
        border-right: none;
        cursor: pointer;
    }

    .subject ul {
        display: none;
        transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
        max-height: var(--max-height-);
        opacity: 0;
    }

    .subject ul.hidden {
        display: block;
        opacity: 1;
    }

    .subject ul li {
        margin-bottom: 10px;
    }

    .subject h2 {
        border: solid 3px black;
        border-left: none;
        border-top: none;
        border-right: none;
        cursor: pointer;
    }

    .subject ul {
        display: none;
        transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
        max-height: var(--max-height-); 
        opacity: 0;
    }

    .subject ul.hidden {
        position: relative;
        display: block;
        overflow: hidden;
        animation: Grow 500ms linear;
        opacity: 1;
    }
    @keyframes Grow{
        0%{
            max-height: 0%; 
        }
        25%{
            max-height: 25%; 
        }
        50%{
            max-height: 50%; 
        }
        75%{
            max-height: 75%; 
        }
        100%{
            max-height: 100%; 
            --max-height-:100%;
        }
    }

    .subject ul li {
        margin-bottom: 10px;
    }
</style>


<script is:inline lang="js">
    document.addEventListener('DOMContentLoaded', function() {
        const toggleButtons = document.querySelectorAll('.toggle');
        
        toggleButtons.forEach(button => {
            const subject = button.parentElement;
            const container = subject.querySelector('.links-container');
            const links = subject.querySelector('.links');
            
            // Initialize all as collapsed
            links.classList.add('collapsed');
            container.style.height = '0';
            
            button.addEventListener('click', function() {
                if (links.classList.contains('collapsed')) {
                    // Calculate full height
                    links.classList.remove('collapsed');
                    const fullHeight = links.scrollHeight + 'px';
                    
                    // Set initial height and animate
                    container.style.height = '0';
                    requestAnimationFrame(() => {
                        container.style.height = fullHeight;
                    });
                } else {
                    // Animate collapse
                    container.style.height = container.scrollHeight + 'px';
                    requestAnimationFrame(() => {
                        container.style.height = '0';
                        setTimeout(() => {
                            links.classList.add('collapsed');
                        }, parseFloat(getComputedStyle(container).transitionDuration) * 1000);
                    });
                }
            });
        });
    });
</script>