/* 
this new look reminds me of helldivers 2
D E M O C R A C Y
*/
@font-face {
    font-family: "Josefin Sans";
    src: url("/fonts/JosefinSans-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Tomorrow";
    src: url("/fonts/Tomorrow-Regular.ttf");
}
@font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-VariableFont_opsz,wght.ttf");
}
:root{
    --font-color:black;
    --glow-color:rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
    :root{
        --font-color:white;
        --glow-color:rgb(0, 89, 255);
    }
    body{
        background-color: #27282b;
    }
}

html,body{
    padding: 0;
    margin: 0;
    font-family:"Inter";
    font-size: 2vmin;
    font-weight: 500;
    color: var(--font-color);
}

h1{
    font-family: "Tomorrow";
    font-size: 5em;
    text-shadow: var(--glow-color) 0px 0 15px;

    text-align: center;
}
h2{
    font-family: "Tomorrow";
    font-size: 4em;
    text-decoration: underline;
    text-decoration-style:double;

    text-align: center;

}
h3{
    font-family: "Space Grotesk";
    font-size: 3em;
    text-align: center;

}
h3:before{
    content: " | ";
}
h3::after{
    content: " | ";
}

h4{
    font-family: "Space Grotesk";
    font-size: 2.5em;
    text-decoration: underline;
    text-decoration-style:dotted;
    text-align: left;

    margin:0px;

}
h5{
    font-family: "Josefin Sans";
    text-align: left;
    font-size: 2em;
    margin:0px;
}
h6{
    font-family: "Josefin Sans";
    text-align: left;
    font-size: 1.5em;
    margin:0px;
}


hr{
    margin-inline: 5vw;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: #000080 #fcfcfc;
}

/* Chrome, Edge, and Safari */
body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: #fcfcfc;
}

body::-webkit-scrollbar-thumb {
    background-color: #000080;
    border-radius: 2px;
    border: 5px none #000050;
}
.page-title{
    display: none;
}