---
    import Layout from "../../../../layouts/GlobalHTMLLayout.astro";
    import Top from "../../../../components/Sections/Top.astro";
---


<Layout name="Ranks">
	<h3 class="ehri-ribbon">
		<img class="pull-left ribbon-seal" style="height: 60px;position:absolute;margin-top: -15px;margin-left: 5px;" src="/icons/NAVY.svg" alt="Seal of the Navy" title="Seal of the Navy">
		<div style="margin-left:70px;">Navy Ranks - Enlisted and Officer, from Lowest to Highest</div>
	</h3>
	<table class="table table-striped table-bordered responsive-table">
		<thead>
			<th style="color: black;">Rate</th>
			<th style="color: black;">Insignia</th>
			<th style="color: black;">Rank</th>
			<th style="color: black;">Abbreviation</th>
		</tr></thead>
		<tbody>
						<tr>
					<td data-title="Grade">E-1</td>
					<td data-title="Insignia">
	
								<span style="color: black;"  class="text-muted">No Insignia</span>
						
					</td>
					<td data-title="Rank">Cadet Seaman Recruit</td>
					<td data-title="Abbr">SR</td>
				</tr>
						<tr>
					<td data-title="Grade">E-2</td>
					<td data-title="Insignia">
	
											<img src="/ranks/NJROTC/seaman-apprentice.png" alt="Insignia of a Navy Seaman Apprentice" title="Insignia of a Navy Seaman Apprentice">
						
					</td>
					<td data-title="Rank">Cadet Seaman Apprentice</td>
					<td data-title="Abbr">SA</td>
				</tr>
						<tr>
					<td data-title="Grade">E-3</td>
					<td data-title="Insignia">
	
											<img src="/ranks/NJROTC/seaman.png" alt="Insignia of a Navy Seaman" title="Insignia of a Navy Seaman">
						
					</td>
					<td data-title="Rank">Cadet Seaman</td>
					<td data-title="Abbr">SN</td>
				</tr>
						<tr>
					<td data-title="Grade">E-4</td>
					<td data-title="Insignia">
	
											<img src="/ranks/NJROTC/petty-officer-third-class.png" alt="Insignia of a Navy Petty Officer Third Class" title="Insignia of a Navy Petty Officer Third Class">
						
					</td>
					<td data-title="Rank">Cadet Petty Officer Third Class</td>
					<td data-title="Abbr">PO3</td>
				</tr>
						<tr>
					<td data-title="Grade">E-5</td>
					<td data-title="Insignia">
	
											<img src="/ranks/NJROTC/petty-officer-second-class.png" alt="Insignia of a Navy Petty Officer Second Class" title="Insignia of a Navy Petty Officer Second Class">
						
					</td>
					<td data-title="Rank">Cadet Petty Officer Second Class</td>
					<td data-title="Abbr">PO2</td>
				</tr>
						<tr>
					<td data-title="Grade">E-6</td>
					<td data-title="Insignia">
	
											<img src="/ranks/NJROTC/petty-officer-first-class.png" alt="Insignia of a Navy Petty Officer First Class" title="Insignia of a Navy Petty Officer First Class">
						
					</td>
					<td data-title="Rank">Cadet Petty Officer First Class</td>
					<td data-title="Abbr">PO1</td>
				</tr>
						<tr>
					<td data-title="Grade">E-7</td>
					<td data-title="Insignia">
	
											<img src="/ranks/NJROTC/chief-petty-officer.png" alt="Insignia of a Navy Chief Petty Officer" title="Insignia of a Navy Chief Petty Officer">
						
					</td>
					<td data-title="Rank">Cadet Chief Petty Officer</td>
					<td data-title="Abbr">CPO</td>
				</tr>
						<tr>
					<td data-title="Grade">E-8</td>
					<td data-title="Insignia">
	
											<img src="/ranks/NJROTC/senior-chief-petty-officer.png" alt="Insignia of a Navy Senior Chief Petty Officer" title="Insignia of a Navy Senior Chief Petty Officer">
						
					</td>
					<td data-title="Rank">Cadet Senior Chief Petty Officer</td>
					<td data-title="Abbr">SCPO</td>
				</tr>
						<tr>
					<td data-title="Grade">E-9</td>
					<td data-title="Insignia">
	
											<img src="/ranks/NJROTC/master-chief-petty-officer.png" alt="Insignia of a Navy Master Chief Petty Officer" title="Insignia of a Navy Master Chief Petty Officer">
						
					</td>
					<td data-title="Rank">Cadet Master Chief Petty Officer</td>
					<td data-title="Abbr">MCPO</td>
				</tr>
				<td data-title="Grade">O-1</td>
				<td data-title="Insignia">
				  <img src="/ranks/NJROTC/ensign.png" alt="Insignia of a Navy Ensign" title="Insignia of a Navy Ensign">
				</td>
				<td data-title="Rank">Cadet Ensign</td>
				<td data-title="Abbr">ENS</td>
			  </tr>
			  <tr>
				<td data-title="Grade">O-2</td>
				<td data-title="Insignia">
				  <img src="/ranks/NJROTC/lieutenant-junior-grade.png" alt="Insignia of a Navy Lieutenant Junior Grade" title="Insignia of a Navy Lieutenant Junior Grade">
				</td>
				<td data-title="Rank">Cadet Lieutenant Junior Grade</td>
				<td data-title="Abbr">LTJG</td>
			  </tr>
			  <tr>
				<td data-title="Grade">O-3</td>
				<td data-title="Insignia">
				  <img src="/ranks/NJROTC/lieutenant.png" alt="Insignia of a Navy Lieutenant" title="Insignia of a Navy Lieutenant">
				</td>
				<td data-title="Rank">Cadet Lieutenant</td>
				<td data-title="Abbr">LT</td>
			  </tr>
			  <tr>
				<td data-title="Grade">O-4</td>
				<td data-title="Insignia">
				  <img src="/ranks/NJROTC/lieutenant-commander.png" alt="Insignia of a Navy Lieutenant Commander" title="Insignia of a Navy Lieutenant Commander">
				</td>
				<td data-title="Rank">Cadet Lieutenant Commander</td>
				<td data-title="Abbr">LCDR</td>
			  </tr>
			  <tr>
				<td data-title="Grade">O-5</td>
				<td data-title="Insignia">
				  <img src="/ranks/NJROTC/commander.png" alt="Insignia of a Navy Commander" title="Insignia of a Navy Commander">
				</td>
				<td data-title="Rank">Cadet Commander</td>
				<td data-title="Abbr">CDR</td>
			  </tr>
			</tbody>
		  </table>

	<!-- Navy Ranks -->
<h3 class="ehri-ribbon">
	<img class="pull-left ribbon-seal" style="height: 60px;position:absolute;margin-top: -15px;margin-left: 5px;" src="/icons/NAVY.svg" alt="Seal of the Navy" title="Seal of the Navy">
	<div style="margin-left:70px;">Navy Ranks - Enlisted and Officer, from Lowest to Highest</div>
</h3>
<table class="table table-striped table-bordered responsive-table">
	<thead>
        <th style="color: black;">Pay Grade</th>
		<th style="color: black;">Insignia</th>
		<th style="color: black;">Rank</th>
		<th style="color: black;">Abbreviation</th>
		<th style="color: black;">Classification</th>
		<th style="color: black;">2024 Pay Range</th>
	</tr></thead>
	<tbody>
					<tr>
				<td data-title="Grade">E-1</td>
				<td data-title="Insignia">

							<span style="color: black;"  class="text-muted">No Insignia</span>
					
				</td>
				<td data-title="Rank">Seaman Recruit</td>
				<td data-title="Abbr">SR</td>
				<td data-title="Class">Junior Enlisted</td>
				<td data-title="Pay Range"><span class="money">$2,017</span> per month</td>
			</tr>
					<tr>
				<td data-title="Grade">E-2</td>
				<td data-title="Insignia">

										<img src="/ranks/navy/seaman-apprentice.png" alt="Insignia of a Navy Seaman Apprentice" title="Insignia of a Navy Seaman Apprentice">
					
				</td>
				<td data-title="Rank">Seaman Apprentice</td>
				<td data-title="Abbr">SA</td>
				<td data-title="Class">Junior Enlisted</td>
				<td data-title="Pay Range"><span class="money">$27,133</span> - <span class="money">$27,385</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">E-3</td>
				<td data-title="Insignia">

										<img src="/ranks/navy/seaman.png" alt="Insignia of a Navy Seaman" title="Insignia of a Navy Seaman">
					
				</td>
				<td data-title="Rank">Seaman</td>
				<td data-title="Abbr">SN</td>
				<td data-title="Class">Junior Enlisted</td>
				<td data-title="Pay Range"><span class="money">$28,530</span> - <span class="money">$32,162</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">E-4</td>
				<td data-title="Insignia">

										<img src="/ranks/navy/petty-officer-third-class.png" alt="Insignia of a Navy Petty Officer Third Class" title="Insignia of a Navy Petty Officer Third Class">
					
				</td>
				<td data-title="Rank">Petty Officer Third Class</td>
				<td data-title="Abbr">PO3</td>
				<td data-title="Class">Noncommissioned Officer</td>
				<td data-title="Pay Range"><span class="money">$31,604</span> - <span class="money">$38,369</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">E-5</td>
				<td data-title="Insignia">

										<img src="/ranks/navy/petty-officer-second-class.png" alt="Insignia of a Navy Petty Officer Second Class" title="Insignia of a Navy Petty Officer Second Class">
					
				</td>
				<td data-title="Rank">Petty Officer Second Class</td>
				<td data-title="Abbr">PO2</td>
				<td data-title="Class">Noncommissioned Officer</td>
				<td data-title="Pay Range"><span class="money">$34,466</span> - <span class="money">$48,917</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">E-6</td>
				<td data-title="Insignia">

										<img src="/ranks/navy/petty-officer-first-class.png" alt="Insignia of a Navy Petty Officer First Class" title="Insignia of a Navy Petty Officer First Class">
					
				</td>
				<td data-title="Rank">Petty Officer First Class</td>
				<td data-title="Abbr">PO1</td>
				<td data-title="Class">Noncommissioned Officer</td>
				<td data-title="Pay Range"><span class="money">$37,627</span> - <span class="money">$58,277</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">E-7</td>
				<td data-title="Insignia">

										<img src="/ranks/navy/chief-petty-officer.png" alt="Insignia of a Navy Chief Petty Officer" title="Insignia of a Navy Chief Petty Officer">
					
				</td>
				<td data-title="Rank">Chief Petty Officer</td>
				<td data-title="Abbr">CPO</td>
				<td data-title="Class">Senior Noncommissioned Officer</td>
				<td data-title="Pay Range"><span class="money">$43,499</span> - <span class="money">$78,188</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">E-8</td>
				<td data-title="Insignia">

										<img src="/ranks/navy/senior-chief-petty-officer.png" alt="Insignia of a Navy Senior Chief Petty Officer" title="Insignia of a Navy Senior Chief Petty Officer">
					
				</td>
				<td data-title="Rank">Senior Chief Petty Officer</td>
				<td data-title="Abbr">SCPO</td>
				<td data-title="Class">Senior Noncommissioned Officer</td>
				<td data-title="Pay Range"><span class="money">$62,579</span> - <span class="money">$89,248</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">E-9</td>
				<td data-title="Insignia">

										<img src="/ranks/navy/master-chief-petty-officer.png" alt="Insignia of a Navy Master Chief Petty Officer" title="Insignia of a Navy Master Chief Petty Officer">
					
				</td>
				<td data-title="Rank">Master Chief Petty Officer</td>
				<td data-title="Abbr">MCPO</td>
				<td data-title="Class">Senior Noncommissioned Officer</td>
				<td data-title="Pay Range"><span class="money">$76,446</span> - <span class="money">$118,696</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">E-9</td>
				<td data-title="Insignia">

										<img src="/ranks/navy/command-master-chief-petty-officer.png" alt="Insignia of a Navy Command Master Chief Petty Officer" title="Insignia of a Navy Command Master Chief Petty Officer">
					
				</td>
				<td data-title="Rank">Command Master Chief Petty Officer</td>
				<td data-title="Abbr">CMDCM</td>
				<td data-title="Class">Senior Enlisted Advisor</td>
				<td data-title="Pay Range"><span class="money">$76,446</span> - <span class="money">$118,696</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">E-9</td>
				<td data-title="Insignia">

										<img src="/ranks/navy/master-chief-petty-officer-of-the-navy.png" alt="Insignia of a Navy Master Chief Petty Officer Of The Navy" title="Insignia of a Navy Master Chief Petty Officer Of The Navy">
					
				</td>
				<td data-title="Rank">Master Chief Petty Officer Of The Navy</td>
				<td data-title="Abbr">MCPON</td>
				<td data-title="Class">Senior Enlisted Advisor</td>
				<td data-title="Pay Range"><span class="money">$76,446</span> - <span class="money">$118,696</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">W-2</td>
				<td data-title="Insignia">

										<img src="/ranks/navy/chief-warrant-officer-2.png" alt="Insignia of a Navy Chief Warrant Officer 2" title="Insignia of a Navy Chief Warrant Officer 2">
					
				</td>
				<td data-title="Rank">Chief Warrant Officer 2</td>
				<td data-title="Abbr">CW2</td>
				<td data-title="Class">Warrant Officer</td>
				<td data-title="Pay Range"><span class="money">$51,131</span> - <span class="money">$85,342</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">W-3</td>
				<td data-title="Insignia">

										<img src="/ranks/navy/chief-warrant-officer-3.png" alt="Insignia of a Navy Chief Warrant Officer 3" title="Insignia of a Navy Chief Warrant Officer 3">
					
				</td>
				<td data-title="Rank">Chief Warrant Officer 3</td>
				<td data-title="Abbr">CW3</td>
				<td data-title="Class">Warrant Officer</td>
				<td data-title="Pay Range"><span class="money">$57,787</span> - <span class="money">$101,365</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">W-4</td>
				<td data-title="Insignia">

										<img src="/ranks/navy/chief-warrant-officer-4.png" alt="Insignia of a Navy Chief Warrant Officer 4" title="Insignia of a Navy Chief Warrant Officer 4">
					
				</td>
				<td data-title="Rank">Chief Warrant Officer 4</td>
				<td data-title="Abbr">CW4</td>
				<td data-title="Class">Warrant Officer</td>
				<td data-title="Pay Range"><span class="money">$63,277</span> - <span class="money">$117,860</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">W-5</td>
				<td data-title="Insignia">

										<img src="/ranks/navy/chief-warrant-officer-5.png" alt="Insignia of a Navy Chief Warrant Officer 5" title="Insignia of a Navy Chief Warrant Officer 5">
					
				</td>
				<td data-title="Rank">Chief Warrant Officer 5</td>
				<td data-title="Abbr">CW5</td>
				<td data-title="Class">Warrant Officer</td>
				<td data-title="Pay Range"><span class="money">$112,507</span> - <span class="money">$147,229</span> per year</td>
			</tr>
            <td data-title="Grade">O-1</td>
            <td data-title="Insignia">
              <img src="/ranks/navy/ensign.png" alt="Insignia of a Navy Ensign" title="Insignia of a Navy Ensign">
            </td>
            <td data-title="Rank">Ensign</td>
            <td data-title="Abbr">ENS</td>
            <td data-title="Class">Junior Officer</td>
            <td data-title="Pay Range"><span class="money">$45,914</span> - <span class="money">$57,776</span> per year</td>
          </tr>
          <tr>
            <td data-title="Grade">O-2</td>
            <td data-title="Insignia">
              <img src="/ranks/navy/lieutenant-junior-grade.png" alt="Insignia of a Navy Lieutenant Junior Grade" title="Insignia of a Navy Lieutenant Junior Grade">
            </td>
            <td data-title="Rank">Lieutenant Junior Grade</td>
            <td data-title="Abbr">LTJG</td>
            <td data-title="Class">Junior Officer</td>
            <td data-title="Pay Range"><span class="money">$52,902</span> - <span class="money">$73,210</span> per year</td>
          </tr>
          <tr>
            <td data-title="Grade">O-3</td>
            <td data-title="Insignia">
              <img src="/ranks/navy/lieutenant.png" alt="Insignia of a Navy Lieutenant" title="Insignia of a Navy Lieutenant">
            </td>
            <td data-title="Rank">Lieutenant</td>
            <td data-title="Abbr">LT</td>
            <td data-title="Class">Junior Officer</td>
            <td data-title="Pay Range"><span class="money">$61,225</span> - <span class="money">$99,612</span> per year</td>
          </tr>
          <tr>
            <td data-title="Grade">O-4</td>
            <td data-title="Insignia">
              <img src="/ranks/navy/lieutenant-commander.png" alt="Insignia of a Navy Lieutenant Commander" title="Insignia of a Navy Lieutenant Commander">
            </td>
            <td data-title="Rank">Lieutenant Commander</td>
            <td data-title="Abbr">LCDR</td>
            <td data-title="Class">Junior Officer</td>
            <td data-title="Pay Range"><span class="money">$69,638</span> - <span class="money">$116,269</span> per year</td>
          </tr>
          <tr>
            <td data-title="Grade">O-5</td>
            <td data-title="Insignia">
              <img src="/ranks/navy/commander.png" alt="Insignia of a Navy Commander" title="Insignia of a Navy Commander">
            </td>
            <td data-title="Rank">Commander</td>
            <td data-title="Abbr">CDR</td>
            <td data-title="Class">Senior Officer</td>
            <td data-title="Pay Range"><span class="money">$80,708</span> - <span class="money">$137,120</span> per year</td>
          </tr>
          <tr>
            <td data-title="Grade">O-6</td>
            <td data-title="Insignia">
              <img src="/ranks/navy/captain.png" alt="Insignia of a Navy Captain" title="Insignia of a Navy Captain">
            </td>
            <td data-title="Rank">Captain</td>
            <td data-title="Abbr">CAPT</td>
            <td data-title="Class">Senior Officer</td>
            <td data-title="Pay Range"><span class="money">$96,815</span> - <span class="money">$171,389</span> per year</td>
          </tr>
          <tr>
            <td data-title="Grade">O-7</td>
            <td data-title="Insignia">
              <img src="/ranks/navy/rear-admiral-lower-half.png" alt="Insignia of a Navy Rear Admiral Lower Half" title="Insignia of a Navy Rear Admiral Lower Half">
            </td>
            <td data-title="Rank">Rear Admiral Lower Half</td>
            <td data-title="Abbr">RDML</td>
            <td data-title="Class">Flag Officer</td>
            <td data-title="Pay Range"><span class="money">$127,667</span> - <span class="money">$190,750</span> per year</td>
          </tr>
          <tr>
            <td data-title="Grade">O-8</td>
            <td data-title="Insignia">
              <img src="/ranks/navy/rear-admiral.png" alt="Insignia of a Navy Rear Admiral" title="Insignia of a Navy Rear Admiral">
            </td>
            <td data-title="Rank">Rear Admiral</td>
            <td data-title="Abbr">RADM</td>
            <td data-title="Class">Flag Officer</td>
            <td data-title="Pay Range"><span class="money">$153,644</span> - <span class="money">$221,497</span> per year</td>
          </tr>
          <tr>
            <td data-title="Grade">O-9</td>
            <td data-title="Insignia">
              <img src="/ranks/navy/vice-admiral.png" alt="Insignia of a Navy Vice Admiral" title="Insignia of a Navy Vice Admiral">
            </td>
            <td data-title="Rank">Vice Admiral</td>
            <td data-title="Abbr">VADM</td>
            <td data-title="Class">Flag Officer</td>
            <td data-title="Pay Range"><span class="money">$217,152</span> - <span class="money">$221,900</span> per year</td>
          </tr>
          <tr>
            <td data-title="Grade">O-10</td>
            <td data-title="Insignia">
              <img src="/ranks/navy/admiral.png" alt="Insignia of a Navy Admiral" title="Insignia of a Navy Admiral">
            </td>
            <td data-title="Rank">Admiral</td>
            <td data-title="Abbr">ADM</td>
            <td data-title="Class">Flag Officer</td>
            <td data-title="Pay Range"> <span class="money">$18,492</span> per month</td>
          </tr>
          <tr>
            <td data-title="Grade">O-11</td>
            <td data-title="Insignia">
              <img src="/ranks/navy/fleet-admiral.png" alt="Insignia of a Navy Fleet Admiral" title="Insignia of a Navy Fleet Admiral">
            </td>
            <td data-title="Rank">Fleet Admiral</td>
            <td data-title="Abbr">FADM</td>
            <td data-title="Class">Flag Officer</td>
            <td data-title="Pay Range">n/a</td>
          </tr>
        </tbody>
      </table>

      <!-- Marine Corps Ranks -->
<h3 class="ehri-ribbon">
	<img class="pull-left ribbon-seal" style="height: 60px;position:absolute;margin-top: -15px;margin-left: 5px;" src="/icons/Marine_Corps.svg" alt="Seal of the Marine Corps" title="Seal of the Navy">
	<div style="margin-left:70px;">Marine Corps Ranks - Enlisted and Officer, from Lowest to Highest</div>
</h3>
<table class="table table-striped table-bordered responsive-table">
	<thead>
		<tr><th>Pay Grade</th>
		<th>Insignia</th>
		<th>Rank</th>
		<th>Abbreviation</th>
		<th>Classification</th>
		<th>2024 Pay Range</th>
	</tr></thead>
	<tbody>
					<tr>
				<td data-title="Grade">E-1</td>
				<td data-title="Insignia">

										<span class="text-muted" style="color: black;">No Insignia</span>
					
				</td>
				<td data-title="Rank">Private</td>
				<td data-title="Abbr">Pvt</td>
				<td data-title="Class">Junior Enlisted</td>
				<td data-title="Pay Range"><span class="money">$2,017</span> per month</td>
			</tr>
					<tr>
				<td data-title="Grade">E-2</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/private-first-class.png" alt="Insignia of a Marine Corps Private First Class" title="Insignia of a Marine Corps Private First Class">
					
				</td>
				<td data-title="Rank">Private First Class</td>
				<td data-title="Abbr">PFC</td>
				<td data-title="Class">Junior Enlisted</td>
				<td data-title="Pay Range"><span class="money">$27,133</span> - <span class="money">$27,385</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">E-3</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/lance-corporal.png" alt="Insignia of a Marine Corps Lance Corporal" title="Insignia of a Marine Corps Lance Corporal">
					
				</td>
				<td data-title="Rank">Lance Corporal</td>
				<td data-title="Abbr">LCpl</td>
				<td data-title="Class">Junior Enlisted</td>
				<td data-title="Pay Range"><span class="money">$28,530</span> - <span class="money">$32,162</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">E-4</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/corporal.png" alt="Insignia of a Marine Corps Corporal" title="Insignia of a Marine Corps Corporal">
					
				</td>
				<td data-title="Rank">Corporal</td>
				<td data-title="Abbr">Cpl</td>
				<td data-title="Class">Noncommissioned Officer</td>
				<td data-title="Pay Range"><span class="money">$31,604</span> - <span class="money">$38,369</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">E-5</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/sergeant.png" alt="Insignia of a Marine Corps Sergeant" title="Insignia of a Marine Corps Sergeant">
					
				</td>
				<td data-title="Rank">Sergeant</td>
				<td data-title="Abbr">Sgt</td>
				<td data-title="Class">Noncommissioned Officer</td>
				<td data-title="Pay Range"><span class="money">$34,466</span> - <span class="money">$48,917</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">E-6</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/staff-sergeant.png" alt="Insignia of a Marine Corps Staff Sergeant" title="Insignia of a Marine Corps Staff Sergeant">
					
				</td>
				<td data-title="Rank">Staff Sergeant</td>
				<td data-title="Abbr">SSgt</td>
				<td data-title="Class">Staff Noncommissioned Officer</td>
				<td data-title="Pay Range"><span class="money">$37,627</span> - <span class="money">$58,277</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">E-7</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/gunnery-sergeant.png" alt="Insignia of a Marine Corps Gunnery Sergeant" title="Insignia of a Marine Corps Gunnery Sergeant">
					
				</td>
				<td data-title="Rank">Gunnery Sergeant</td>
				<td data-title="Abbr">GySgt</td>
				<td data-title="Class">Staff Noncommissioned Officer</td>
				<td data-title="Pay Range"><span class="money">$43,499</span> - <span class="money">$78,188</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">E-8</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/master-sergeant.png" alt="Insignia of a Marine Corps Master Sergeant" title="Insignia of a Marine Corps Master Sergeant">
					
				</td>
				<td data-title="Rank">Master Sergeant</td>
				<td data-title="Abbr">MSgt</td>
				<td data-title="Class">Staff Noncommissioned Officer</td>
				<td data-title="Pay Range"><span class="money">$62,579</span> - <span class="money">$89,248</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">E-8</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/first-sergeant.png" alt="Insignia of a Marine Corps First Sergeant" title="Insignia of a Marine Corps First Sergeant">
					
				</td>
				<td data-title="Rank">First Sergeant</td>
				<td data-title="Abbr">1stSg</td>
				<td data-title="Class">Senior Enlisted Advisor</td>
				<td data-title="Pay Range"><span class="money">$62,579</span> - <span class="money">$89,248</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">E-9</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/master-gunnery-sergeant.png" alt="Insignia of a Marine Corps Master Gunnery Sergeant" title="Insignia of a Marine Corps Master Gunnery Sergeant">
					
				</td>
				<td data-title="Rank">Master Gunnery Sergeant</td>
				<td data-title="Abbr">MGySg</td>
				<td data-title="Class">Staff Noncommissioned Officer</td>
				<td data-title="Pay Range"><span class="money">$76,446</span> - <span class="money">$118,696</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">E-9</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/sergeant-major.png" alt="Insignia of a Marine Corps Sergeant Major" title="Insignia of a Marine Corps Sergeant Major">
					
				</td>
				<td data-title="Rank">Sergeant Major</td>
				<td data-title="Abbr">SgtMa</td>
				<td data-title="Class">Senior Enlisted Advisor</td>
				<td data-title="Pay Range"><span class="money">$76,446</span> - <span class="money">$118,696</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">E-9</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/sergeant-major-of-the-marine-corps.png" alt="Insignia of a Marine Corps Sergeant Major Of The Marine Corps" title="Insignia of a Marine Corps Sergeant Major Of The Marine Corps">
					
				</td>
				<td data-title="Rank">Sergeant Major Of The Marine Corps</td>
				<td data-title="Abbr">sgtMa</td>
				<td data-title="Class">Senior Enlisted Advisor</td>
				<td data-title="Pay Range"><span class="money">$76,446</span> - <span class="money">$118,696</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">W-1</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/warrant-officer-1.png" alt="Insignia of a Marine Corps Warrant Officer 1" title="Insignia of a Marine Corps Warrant Officer 1">
					
				</td>
				<td data-title="Rank">Warrant Officer 1</td>
				<td data-title="Abbr">WO1</td>
				<td data-title="Class">Warrant Officer</td>
				<td data-title="Pay Range"><span class="money">$44,878</span> - <span class="money">$77,555</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">W-2</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/chief-warrant-officer-2.png" alt="Insignia of a Marine Corps Chief Warrant Officer 2" title="Insignia of a Marine Corps Chief Warrant Officer 2">
					
				</td>
				<td data-title="Rank">Chief Warrant Officer 2</td>
				<td data-title="Abbr">CW2</td>
				<td data-title="Class">Warrant Officer</td>
				<td data-title="Pay Range"><span class="money">$51,131</span> - <span class="money">$85,342</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">W-3</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/chief-warrant-officer-3.png" alt="Insignia of a Marine Corps Chief Warrant Officer 3" title="Insignia of a Marine Corps Chief Warrant Officer 3">
					
				</td>
				<td data-title="Rank">Chief Warrant Officer 3</td>
				<td data-title="Abbr">CW3</td>
				<td data-title="Class">Warrant Officer</td>
				<td data-title="Pay Range"><span class="money">$57,787</span> - <span class="money">$101,365</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">W-4</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/chief-warrant-officer-4.png" alt="Insignia of a Marine Corps Chief Warrant Officer 4" title="Insignia of a Marine Corps Chief Warrant Officer 4">
					
				</td>
				<td data-title="Rank">Chief Warrant Officer 4</td>
				<td data-title="Abbr">CW4</td>
				<td data-title="Class">Warrant Officer</td>
				<td data-title="Pay Range"><span class="money">$63,277</span> - <span class="money">$117,860</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">W-5</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/chief-warrant-officer-5.png" alt="Insignia of a Marine Corps Chief Warrant Officer 5" title="Insignia of a Marine Corps Chief Warrant Officer 5">
					
				</td>
				<td data-title="Rank">Chief Warrant Officer 5</td>
				<td data-title="Abbr">CW5</td>
				<td data-title="Class">Warrant Officer</td>
				<td data-title="Pay Range"><span class="money">$112,507</span> - <span class="money">$147,229</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">O-1</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/second-lieutenant.png" alt="Insignia of a Marine Corps Second Lieutenant" title="Insignia of a Marine Corps Second Lieutenant">
					
				</td>
				<td data-title="Rank">Second Lieutenant</td>
				<td data-title="Abbr">2ndLt</td>
				<td data-title="Class">Commissioned Officer</td>
				<td data-title="Pay Range"><span class="money">$45,914</span> - <span class="money">$57,776</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">O-2</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/first-lieutenant.png" alt="Insignia of a Marine Corps First Lieutenant" title="Insignia of a Marine Corps First Lieutenant">
					
				</td>
				<td data-title="Rank">First Lieutenant</td>
				<td data-title="Abbr">1stLt</td>
				<td data-title="Class">Commissioned Officer</td>
				<td data-title="Pay Range"><span class="money">$52,902</span> - <span class="money">$73,210</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">O-3</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/captain.png" alt="Insignia of a Marine Corps Captain" title="Insignia of a Marine Corps Captain">
					
				</td>
				<td data-title="Rank">Captain</td>
				<td data-title="Abbr">Capt</td>
				<td data-title="Class">Commissioned Officer</td>
				<td data-title="Pay Range"><span class="money">$61,225</span> - <span class="money">$99,612</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">O-4</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/major.png" alt="Insignia of a Marine Corps Major" title="Insignia of a Marine Corps Major">
					
				</td>
				<td data-title="Rank">Major</td>
				<td data-title="Abbr">Maj</td>
				<td data-title="Class">Field Officer</td>
				<td data-title="Pay Range"><span class="money">$69,638</span> - <span class="money">$116,269</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">O-5</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/lieutenant-colonel.png" alt="Insignia of a Marine Corps Lieutenant Colonel" title="Insignia of a Marine Corps Lieutenant Colonel">
					
				</td>
				<td data-title="Rank">Lieutenant Colonel</td>
				<td data-title="Abbr">LtCol</td>
				<td data-title="Class">Field Officer</td>
				<td data-title="Pay Range"><span class="money">$80,708</span> - <span class="money">$137,120</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">O-6</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/colonel.png" alt="Insignia of a Marine Corps Colonel" title="Insignia of a Marine Corps Colonel">
					
				</td>
				<td data-title="Rank">Colonel</td>
				<td data-title="Abbr">Col</td>
				<td data-title="Class">Field Officer</td>
				<td data-title="Pay Range"><span class="money">$96,815</span> - <span class="money">$171,389</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">O-7</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/brigadier-general.png" alt="Insignia of a Marine Corps Brigadier General" title="Insignia of a Marine Corps Brigadier"/>
					
				</td>
				<td data-title="Rank">Brigadier General</td>
				<td data-title="Abbr">BGen</td>
				<td data-title="Class">General Officer</td>
				<td data-title="Pay Range"><span class="money">$127,667</span> - <span class="money">$190,750</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">O-8</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/major-general.png" alt="Insignia of a Marine Corps Major General" title="Insignia of a Marine Corps Major"/>
					
				</td>
				<td data-title="Rank">Major General</td>
				<td data-title="Abbr">MajGen</td>
				<td data-title="Class">General Officer</td>
				<td data-title="Pay Range"><span class="money">$153,644</span> - <span class="money">$221,497</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">O-9</td>
				<td data-title="Insignia">

										<img src="/ranks/marinecorps/lieutenant-general.png" alt="Insignia of a Marine Corps Lieutenant General" title="Insignia of a Marine Corps Lieutenant"/> 
					
				</td>
				<td data-title="Rank">Lieutenant General</td>
				<td data-title="Abbr">LtGen</td>
				<td data-title="Class">General Officer</td>
				<td data-title="Pay Range"><span class="money">$217,152</span> - <span class="money">$221,900</span> per year</td>
			</tr>
					<tr>
				<td data-title="Grade">O-10</td>
				<td data-title="Insignia"/>

										<img src="/ranks/marinecorps/general.png" alt="Insignia of a Marine Corps General" title="Insignia of a Marine Corps"/> 
					
				</td>
				<td data-title="Rank">General</td>
				<td data-title="Abbr">Gen</td>
				<td data-title="Class">General Officer</td>
				<td data-title="Pay Range"><span class="money">$18,492</span> per month</td>
			</tr>
			</tbody>
</table>

    </Layout>

<style>
	td img{
		height: 30px;
	}
    
    td,
    thead{
        color: black;
    }
.ehri-ribbon {
    clear: both;
    position: relative;
    color: #fff;
    background: #115A8F;
    margin: 30px -25px 20px -20px;
    padding: 0.5em 20px;
    text-shadow: 0 -1px #0c3d61, 0 1px #062134;
    box-shadow: 0 2px 0 rgba(0,0,0,.1);
    border-radius: 0.2em;
}
.money {
	color: green;
}
.table-bordered {
    border: 1px solid #ddd;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    color: black;
}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;

    color: black;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}
#content {
    font-size: 1.2em;
    color: black;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
</style>