---
    import Layout from "../../layouts/GlobalHTMLLayout.astro";
    import Top from "../../components/Sections/Top.astro";
    import TextImg from "../../components/Sections/TextImg.astro";
---
<Layout name="Teams">
    <Top align="left" image="https://raw.githubusercontent.com/Parlier-NJROTC/Gallery/main/Round%20Up.jpeg">
        <div style="border-block: 5px solid white; padding:10px; padding-inline:10vw;">
            <h1>Parlier NJROTC <br> Teams</h1>
            <p>"Good opportunity to get involved" </p>
        </div>
    </Top>
    <div class="container"/>
    <TextImg image="https://raw.githubusercontent.com/Parlier-NJROTC/Gallery/main/Drill pad 1.jpeg" backgroundColor="#534B52" altTxt="People at Drill Pad" order={1} align = "left">
        <h2>Drill Team</h2>
        Our Drill team is more focused on the execution of drill commands correctly and accurately. Cadets spend hours practicing and perfecting a large range of drill commands.
        <br>
        Team Leaders: Luis & Cruz
        <br>
        Member Count: 30 
    </TextImg>
    <div class="margin"></div>
    <TextImg image="https://raw.githubusercontent.com/Parlier-NJROTC/Gallery/main/Color Guard Dressed.jpeg" backgroundColor="#90ee90" altTxt="Color Guard Dressed" order={0} align = "right" color="Black">
        <h2 style="color: black;">Color Gaurd</h2>
        The Color Guard Team is the most active team within local events. You will most likely see them, in parades, city gatherings, graduation, football games, and many more important events. Within the color guard you will see our cadets marching with flags surrounded by rifles, hence the name color guard.
        <br>
        Team Leader: Jenny Garcia
        <br>
        Member Count: 4
    </TextImg>
    <div class="margin"></div>
    <TextImg image="https://raw.githubusercontent.com/Parlier-NJROTC/Gallery/main/Rifle Team Practice.jpeg" backgroundColor="#2D232E" altTxt="The Rifle Team Shooting Their Air Rifles" order={1} align = "left">
        <h2>Rifle Team</h2>
        The Rifle Team is one of our most intense and best teams. Not only do cadets have to learn how to operate an air rifle, they also have to remain consistent and disciplined through out thier journey as this team requires intense commiment and dedication. Cadets will devote multiple hours in physical and mental Training. If you are up to the challange then, Good luck.
        <br>
        Team Leader: Paula
        <br>
        Member Count: 11
    </TextImg>
    <div class="margin"></div>
    <TextImg image="" altTxt="Not sure what to put here - Cadet Ibarra" backgroundColor="#F1F0EA" order={0} align = "right" color="black">
        <h2 style="color:black;">Academic Team</h2> <!-- had to specify, doesent apply -->
        The academics team is made up of the entire unit. No one leads the academic team. Our goal is to get our best grades that we can. Honestly im not sure about this team - Cadet Ibarra
        <br>
        Team Leader: Nobody
        <br>
        Member Count: Entire Unit
    </TextImg>
    <div class="margin"></div>
    <TextImg image="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/download.png" altTxt="Jose Ibarra-Martinez Getting Ready to Show the Website" order={1} align = "left">
        <h2>CyberPatriot Team</h2>
            We are the CyberPatriot Team. We created the NJROTC website and we maintain it, adding features, and fixing bugs as we go. For the 2024-2025 we plan to fully restart the team and exploring the subject of cyber security along with learning web development. If you would like to join, you need to be able to work in <a href="https://www.youtube.com/watch?v=HGTJBPNC-Gw">HTML, CSS</a> & optionally <a href="https://www.youtube.com/watch?v=lfmg-EJ8gm4">Javascript</a> and <a href="https://astro.build/">Astro</a>. The underlined text will point to learning resources incase you want to get started.
        <br>
        Team Leader: Jose Ibarra-Martinez
        <br>
        Member Count: 3
    </TextImg>
</Layout>

<style>
    .margin{
        width: 100vw;
        height: 20px;
        
    }
    .container {
        position: absolute;
        width: 100%;
        height: 200%;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
        border-radius: 5px;
        background-color: rgba(255, 255, 255, .15);
        
        backdrop-filter: blur(5px);
    }
</style>