---
    import SelectionColumns from "../../../layouts/SelectionColumns.astro";
---

<SelectionColumns name="Resources">
    <a href="/Resources/Tool/Ribbon">
        <h1>Ribbon Builder</h1>
        <img src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Other/Ribbons.png" decoding="async" loading="lazy">
        <p>This Is The Ribbon Builder to See How to Rack Your Ribbon</p>
    </a>
</SelectionColumns>