<p class="arrow-container"><span class="arrow" ></span> <div class="line34"></div></p>
<style>
    .arrow-container {
      display: flex;
      align-items: center;
   }
   .arrow {
      display: inline-block;
      margin-right: 30px;
      width: 15px;
      height: 15px;
      border-top: 5px solid #000;
      border-right: 5px solid #000;

      transform: rotate(135deg);
   }
   .line34{
    
      margin-right: 470px;
      width: 5px;
      height: 15px;
      background-color: #000;
   }
</style>