---
interface Props {
    image: string;
    backgroundColor?:string;
    altTxt:string;
    desc?:string;
    order?:number;
    align?:string;
    margin?:string;
    color?:string;
}

const { image , color = "white", backgroundColor = "navy", altTxt, desc = altTxt, order = 0, align = "center", margin = "0px"} = Astro.props

---

<div>
    <span style="order:1;">

        <slot />

    </span>
    <img src={image} alt={altTxt} title={desc} decoding="async" loading="lazy">
</div>

<style define:vars={{backgroundColor, order, align, margin, color}} >
    div *{
        color: var(--color);
    }
    
    div{
        position: relative;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-items: var(--align);

        text-align: var(--align);
        column-gap: 24px;

        padding-block: 40px;
        padding-inline: 5vw;
        margin: var(--margin);

        width: 100vw  100vw;
        overflow-x: hidden;
        background-color: var(--backgroundColor);
    }
    img{
        border-radius: 5%;
        height: 300px;
        width: 100%;
        order: var(--order);
    }

    img {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -webkit-user-drag: none;
        -moz-user-drag: none;
        -ms-user-drag: none;
    }

    @media (orientation: portrait) {
        div{
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;
        }
        div{
        position: relative;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-items: var(--align);

        text-align: var(--align);
        column-gap: 24px;
        padding-block: 40px;
        padding-inline: 0vw;
        margin: var(--margin);

        width: 100%;
        overflow-x: hidden;
        background-color: var(--backgroundColor);
    }
        img{
            width: 75%;
            height: auto;
            order: 1;
        }
        html{
                width: 100%;
        }
    }

</style>