---
interface Props {
    title:string;
    backgroundColor?:string;
    color?:string;
    decor?:string;
}
    const {title , backgroundColor = "azure", color = "black", decor = "none"} = Astro.props
---


<section>
    <h1>{title}</h1>
    <span>
        <slot />
    </span>
</section>

<style define:vars={{backgroundColor, color, decor}}>
    section *{
        color: var(--color);
    }
    @font-face {
        font-family: "Josefin Sans"; /** Look its me */
        src: url("/fonts/JosefinSans-VariableFont_wght.ttf");
    }
    section{
        display: grid;
        justify-items: center;
        text-align: center;
        padding-inline: 10%;
        background-color: var(--backgroundColor);

        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    h1{
        text-decoration: var(--decor);
    }

</style>