<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NJROTC | Secret</title>
  <link rel="icon" href="/images/NJROTC-Seal.svg" sizes="any" type="image/svg+xml">
  <link rel="stylesheet" href="/Subpages/Credits/secit/style.css">
</head>

<body>
  <embed src="/Subpages/Credits/secit/Record (mp3cut.net).mp3" hidden="true">
    <iframe src="https://ustymukhman.github.io/webDOOM/public/index.html" loading="eager" allowfullscreen="true" height=160% width=100% style="position: absolute; left: 0%;"></iframe>
</body>

<style>
html,  {
  background-color: #fff;
  height: 100%;
}

body {
  position: relative;
  font-family: 'Noticia Text';
  text-align: center;
  background: linear-gradient(180deg,#281130 0,#0f0021);
  height: 100%;
  margin: 8px;
  min-height: 500px;
  
  &:before,
  &:after {
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
  }

  &:before {
      background-color: #00ffff;
      z-index: -1;
      animation: glitchy 0.3s ease 0.3s infinite;

  }

  &:after {
      background-color: #ff00ff;
      z-index: -2;
      animation: glitchy 0.3s ease infinite reverse;
  }
}</style>

</html>