---
import Layout from "../layouts/GlobalHTMLLayout.astro";
import '../styles/Default/main.css'
---


<Layout name="404">
    <div id="screen">
        <h1 class="text-link" >Error 404 not found</h1>
        <hr />
        <p>Webpage not found, it might have been moved to or removed</p>
        <img id="cat" src="">
        <p id="quote"></p>
    </div>
</marquee>
</Layout>


<style>
    body *{
        color: var(--Text-color);
    }
    #screen {
        display: grid;
        justify-items: center;
        align-items: center;
        padding-top: 25px;
        grid-template-columns: 90vw;
        grid-template-rows: 30px 50px 10px 300px 120px;
        padding-inline: 5vw;
        max-width: 100vw;
        height: 100vh;
        background-color: var(--error-BG-color);

        -webkit-user-select: none; 
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none; 
    }
    #screen h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 0px;
        margin: 0px;
    }
    #screen hr {
        height: 2px;
        width: 90%;
        background-color: grey;
    }
    #cat{
        height: 200px;
    }
    #quote{
        align-self: end;
    }
    .text-link {
    position: relative;
    display: inline-block;
    font-size: 45px;
    text-decoration: none;
    z-index: 1;
    }
</style>

<script>
import { imageConfig } from "astro:assets";

    let quotes = [
        `"whomp whop" - Cadet Sanchez`,
        `"oops"`,
        `"trust me, I know what im doing"`,
        `"haha, thats not supposed to happen"`,
        `"this is fine"`,
        `"Ah, a dead end. Well time to head home"`,
        `"don't touch my code, its fragile" - Cadet Sanchez`,
        `"Trust me It Worked on my side"`,
        `"We looked and we didn't find it"`,
        `"That was his mistake! - Robert Callaghan"`,
        `"Have You Tried turning Off and On your Hands"`,
        `"I know whats wrong with it! Ain't got no gas init"`,
        // Increase for more time wasted, and it can't be zero
        `"${Math.floor(Math.random()*23)+1} hour(s) later..."`,
        // Because I have no idea how it works
        `"don't blame me"`,
        `tell us some quotes to put down here either in person or email`,
        `"the past is a memory and the futre is a mistery but now is a gift, thats why its called the present" - Master Oogway`,
        `"Do not worry about your struggles in Mathematics, I can asure you mine ar greater" - Albert Einstien`,
        `"Ah"`,
        `"Oh"`,
        `"Oh no"`,
        `Welp, this is akward`,
        `"Sorry my cat roll on my keybosZdxbh ugfde såÍ∂rfgh"`,
        // increase as you waste more time
        `"${Math.floor(Math.random()*2)} coffee mug(s), ${Math.floor(Math.random()*20)} document(s), and ${Math.floor(Math.random()*4)+1} hour(s) later..."`,
        `"Do your homework its much more important, well unless you need this to do it"`,
        `"Oh for gosh sakes"`,
        `"Oh Snicker Doodle" - Cadet Moreira`,
        `"Whoopsie Daisy"`,
        `"Heyy!! Wheres My Page!!!"`,
        `"We found your lost sock but Not this Page"`,
        `"Error 4:04 a.m. Sleep not found, please stop debugging the website J o s e"`,
        `"Don't be lasanga"`,
        `"I don't like it"`,
        `"Not my Fault."`,
        `"Congratulations, you broke this website, please self destruct."`,
        `"Ooooo... how does this work?" it's a mess, trust me`,
        `"Computers are bad at random"`,
        `"Anything that appers like magic can be explained with math, that why they both begin with 'ma' " - Cadet Ibarra`,
        `"Hmm... yes indeed, that is very odd"`,
    ];
    let cats = [
         "https://github.com/Parlier-NJROTC/Assets/blob/main/Cats/Laptop-cat-Mad.gif?raw=true", 
         "https://github.com/Parlier-NJROTC/Assets/blob/main/Cats/Laptop-cat-Smeshing.gif?raw=true", 
         "https://github.com/Parlier-NJROTC/Assets/blob/main/Cats/Laptop-cat-typing.gif?raw=true",
         "https://github.com/Parlier-NJROTC/Assets/blob/main/Cats/Laptop-cat-typing2.gif?raw=true" ]
    // @ts-ignore
    document.getElementById("quote").innerText = quotes[Math.floor(Math.random() * quotes.length)];
    // @ts-ignore
    document.getElementById("cat").src = cats[Math.floor(Math.random() * cats.length)];


    // imagestuff.src = `http//:theurl.com/images/image-${ Math.floor( Math.random * 3)+1 }.png`
</script>
