---
    import GlobalHTMLLayout from "../layouts/GlobalHTMLLayout.astro";
    import Card from "../components/Card.astro";
    import InfoCard from "../components/Cards/InfoCard.astro";
---

<GlobalHTMLLayout name="Components">
    <h2>Cards</h2>
    <InfoCard alignment="Top"></InfoCard>
    <InfoCard alignment="Bottom"></InfoCard>
    <InfoCard alignment="Left"></InfoCard>
    <InfoCard alignment="Right"></InfoCard>

</GlobalHTMLLayout>