---
    import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
    <h1>Lists of random links that lead to no where </h1>
    <a href="/idk"> link 1</a>
    <a href="/burger"> link 2</a>
    <a href="/haha">link 3</a>
    <a href="/apple">link 4</a>
    <div slot="title">titlte</div>
</Layout>
