---
    import GlobalHTMLLayout from "../layouts/GlobalHTMLLayout.astro"
    import Countdown from "../components/notification/countdown.astro"
---

<GlobalHTMLLayout name="Home">
    <Countdown></Countdown>
    <h1>Parlier</h1>
    <h2>NJROTC</h2>
    <div>
        <h2>About The Unit</h2>
        
    </div>
</GlobalHTMLLayout>