---
    import SelectionColumns from "../../layouts/SelectionColumns.astro";
---

<SelectionColumns name="Resources">
    <a href="/Resources/Knowledge">
        <h1>Knowledge</h1>
        <img src="https://www.svgrepo.com/show/428731/creative-knowledge-lightbulb.svg" decoding="async" loading="lazy">
        <p>Knowledge needed to study for AMI and to rank up</p>
    </a>
    <a href="/Resources/Tutorials">
        <h1>Tutorials</h1>
        <img src="https://www.svgrepo.com/show/520509/video-courses.svg" decoding="async" loading="lazy">
        <p>Video Tutorials showing how to do stuff</p>
    </a>
<!--    <a href="/Resources/Extra" style="">
        <h1>Extras</h1>
        <img src="https://www.svgrepo.com/show/74265/extra-discounts-interface-commercial-symbol-of-a-label-with-plus-sign.svg" decoding="async" loading="lazy">
        <p>Knowledge we aren't sure where to put</p>
    </a>
 -->
    <a href="/Resources/Tool" style="">
        <h1>Tools</h1>
        <img src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Other/tools-svgrepo-com.svg" decoding="async" loading="lazy">
        <p>Tools That Make Our Lifes Easier</p>
    </a>
</SelectionColumns>