---

import Layout from "../../../../layouts/GlobalHTMLLayout.astro";

import Top from "../../../../components/Sections/Top.astro";
---
<Layout name="Alphabet">
    <Top>
        <div class="title-container">
            <div id="title">
                <div>United States Navy</div>
                <div>Alphabet</div>
            </div>
        </div>
    </Top>
<table border="0" cellspacing="2" cellpadding="0" class="table-container">
    <tbody>
        <tr>
            <td ><b>A</b></td>
            <td style="width:18%">Alpha <button class="play-btn" data-word="Alpha"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"  fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td style="width:18%">AL-FAH</td>
            <td ><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/alpha.gif?raw=true" width="17" height="14" alt="Alpha"></td>
            <td style="width:5%">&nbsp;</td>
            <td ><b>N</b></td>
            <td style="width:18%">November <button class="play-btn" data-word="November"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td style="width:18%">NO-VEM-BER</td>
            <td ><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/novem.gif?raw=true" width="16" height="13" alt="November"></td>
        </tr>
        <tr>
            <td><b>B</b></td>
            <td>Bravo <button class="play-btn" data-word="Bravo"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td>BRAH-VOH</td>
            <td><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/bravo.gif?raw=true" width="16" height="12" alt="Bravo"></td>
            <td>&nbsp;</td>
            <td><b>O</b></td>
            <td>Oscar <button class="play-btn" data-word="Oscar"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td>OSS-CAH</td>
            <td><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/oscar.gif?raw=true" width="16" height="13" alt="Oscar"></td>
        </tr>
        <tr>
            <td><b>C</b></td>
            <td>Charlie <button class="play-btn" data-word="Charlee"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td>CHAR-LEE</td>
            <td><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/charlie.gif?raw=true" width="16" height="14" alt="Charlie"></td>
            <td>&nbsp;</td>
            <td><b>P</b></td>
            <td>Papa <button class="play-btn" data-word="Pa Pa"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td>PAH-PAH</td>
            <td><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/papa.gif?raw=true" width="16" height="13" alt="Papa"></td>
        </tr>
        <tr>
            <td><b>D</b></td>
            <td>Delta <button class="play-btn" data-word="Delta"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td>DELL-TAH</td>
            <td><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/delta.gif?raw=true" width="16" height="13" alt="Delta"></td>
            <td>&nbsp;</td>
            <td><b>Q</b></td>
            <td>Quebec <button class="play-btn" data-word="Quebec"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td>KEH-BECK</td>
            <td><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/quebec.gif?raw=true" width="17" height="13" alt="Quebec"></td>
        </tr>
        <tr>
            <td><b>E</b></td>
            <td>Echo <button class="play-btn" data-word="Echo"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td>ECK-OH</td>
            <td><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/echo.gif?raw=true" width="16" height="13" alt="Echo"></td>
            <td>&nbsp;</td>
            <td><b>R</b></td>
            <td>Romeo <button class="play-btn" data-word="Romeo"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td>ROW-ME-OH</td>
            <td><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/romeo.gif?raw=true" width="18" height="15" alt="Romeo"></td>
        </tr>
        <tr>
            <td><b>F</b></td>
            <td>Foxtrot <button class="play-btn" data-word="Foxtrot"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td>FOKS-TROT</td>
            <td><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/foxtrot.gif?raw=true" width="16" height="13" alt="Foxtrot"></td>
            <td>&nbsp;</td>
            <td><b>S</b></td>
            <td>Sierra <button class="play-btn" data-word="Sierra"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td>SEE-AIR-AH</td>
            <td><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/sierra.gif?raw=true" width="16" height="13" alt="Sierra"></td>
        </tr>
        <tr>
            <td><b>G</b></td>
            <td>Golf <button class="play-btn" data-word="Golf"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td>GOLF</td>
            <td><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/golf.gif?raw=true" width="16" height="13" alt="Golf"></td>
            <td>&nbsp;</td>
            <td><b>T</b></td>
            <td>Tango <button class="play-btn" data-word="Tango"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td>TANG-GO</td>
            <td><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/tango.gif?raw=true" width="16" height="13" alt="Tango"></td>
        </tr>
        <tr>
            <td><b>H</b></td>
            <td>Hotel <button class="play-btn" data-word="Hotel"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td>HOH-TEL</td>
            <td><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/hotel.gif?raw=true" width="16" height="13" alt="Hotel"></td>
            <td>&nbsp;</td>
            <td><b>U</b></td>
            <td>Uniform <button class="play-btn" data-word="Uniform"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td>YOU-NEE-FORM</td>
            <td><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/uniform.gif?raw=true" width="17" height="12" alt="Uniform"></td>
        </tr>
        <tr>
            <td><b>I</b></td>
            <td>India <button class="play-btn" data-word="India"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td>IN-DEE-AH</td>
            <td><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/india.gif?raw=true" width="16" height="14" alt="India"></td>
            <td>&nbsp;</td>
            <td><b>V</b></td>
            <td>Victor <button class="play-btn" data-word="Vick Ter"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td>VIK-TAH</td>
            <td><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/victor.gif?raw=true" width="17" height="13" alt="Victor"></td>
        </tr>
        <tr>
            <td><b>J</b></td>
            <td>Juliet <button class="play-btn" data-word="Juliet"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td>JEW-LEE-ETT</td>
            <td><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/juliet.gif?raw=true" width="16" height="13" alt="Juliet"></td>
            <td>&nbsp;</td>
            <td><b>W</b></td>
            <td>Whiskey <button class="play-btn" data-word="Whiskey"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td>WISS-KEY</td>
            <td><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/whiskey.gif?raw=true" width="17" height="13" alt="Whiskey"></td>
        </tr>
        <tr>
            <td><b>K</b></td>
            <td>Kilo <button class="play-btn" data-word="Kilo"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td>KEY-LOH</td>
            <td><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/kilo.gif?raw=true" width="17" height="13" alt="Kilo"></td>
            <td>&nbsp;</td>
            <td><b>X</b></td>
            <td>X-ray <button class="play-btn" data-word="X-ray"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td>ECKS-RAY</td>
            <td><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/xray.gif?raw=true" width="18" height="15" alt="X-ray"></td>
        </tr>
        <tr>
            <td><b>L</b></td>
            <td>Lima <button class="play-btn" data-word="Lima"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td>LEE-MAH</td>
            <td><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/lima.gif?raw=true" width="16" height="13" alt="Lima"></td>
            <td>&nbsp;</td>
            <td><b>Y</b></td>
            <td>Yankee <button class="play-btn" data-word="Yankee"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td>YANG-KEY</td>
            <td><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/yankee.gif?raw=true" width="17" height="13" alt="Yankee"></td>
        </tr>
        <tr>
            <td><b>M</b></td>
            <td>Mike <button class="play-btn" data-word="Mike"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td>MIKE</td>
            <td><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/mike.gif?raw=true" width="18" height="15" alt="Mike"></td>
            <td>&nbsp;</td>
            <td><b>Z</b></td>
            <td>Zulu <button class="play-btn" data-word="Zulu"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M80-80v-80q46 0 91-6t88-22q-46-23-72.5-66.5T160-349v-91h160v-120h135L324-822l72-36 131 262q20 40-3 78t-68 38h-56v40q0 33-23.5 56.5T320-360h-80v11q0 35 21.5 61.5T316-252l12 3q40 10 45 50t-31 60q-60 33-126.5 46T80-80Zm572-114-57-56q21-21 33-48.5t12-59.5q0-32-12-59.5T595-466l57-57q32 32 50 74.5t18 90.5q0 48-18 90t-50 74ZM765-80l-57-57q43-43 67.5-99.5T800-358q0-66-24.5-122T708-579l57-57q54 54 84.5 125T880-358q0 81-30.5 152.5T765-80Z"/></svg></button></td>
            <td>ZOO-LOO</td>
            <td><img id="ABC-Flag" src="https://github.com/Parlier-NJROTC/Assets/blob/main/ABC/zulu.gif?raw=true" width="17" height="13" alt="Zulu"></td>
        </tr>
    </tbody>
</table>
</Layout>

<style>
    :root{
        --align:center;
    }
    .table-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        overflow-x: auto;
    }

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 2px;
        color: var(--Text-color);
        margin: 0 auto; 
    }
    table *{

        color: var(--Text-color);
    }
    td {
        padding: 4px;
        vertical-align: middle;
        text-align: center;
    }
    .play-btn {
        cursor: pointer;
        border: none;
        background: none;
        padding: 0;
        margin-left: 4px;
        color: #0066cc;
        font-size: 0.8em;
        transition: cubic-bezier(0.69, 0.14, 0.21, 1.51) 0.2s;
        filter: invert(var(--svg-invert));
    }
    .play-btn:hover {
        color: #004499;
        transform: scale(1.2);
    }
    #ABC-Flag{
        transition: ease-in-out 250ms;
    }
    #ABC-Flag:hover{
        transform: scale(2);
        border: solid var(--Text-color) 0.5px;
    }
    #title{
        position: relative;
        padding-inline: 5px;
        font-size: 50px;
        display: grid;
        row-gap: 50px;
        padding: 10px;
    }
    #title *{
        color: var(--Text-color);
    }
</style>
<style>
    body {
        perspective: 1000px;
    }
    
    .title-container {
        transform-style: preserve-3d;
        animation: float 6s ease-in-out infinite;
    }
    
    #title {
        position: relative;
        transform-style: preserve-3d;
        text-align: center;
        color: white;
        font-family: 'Arial Black', sans-serif;
        text-transform: uppercase;
        text-shadow: 
            0 1px 0 #ccc,
            0 2px 0 #999,
            0 3px 0 #666,
            0 4px 0 #333,
            0 5px 10px rgba(0,0,0,0.2);
    }
    
    #title div:first-child {
        font-size: 2.5em;
        letter-spacing: 0.1em;
        transform: translateZ(20px);
    }
    
    #title div:last-child {
        font-size: 3.5em;
        letter-spacing: 0.2em;
        margin-top: -0.2em;
        transform: translateZ(40px);
    }
    
    @keyframes float {
        0%, 100% {
            transform: 
                rotateX(5deg) 
                rotateY(15deg) 
                translateY(0);
        }
        50% {
            transform: 
                rotateX(-5deg) 
                rotateY(-15deg) 
                translateY(-20px);
        }
    }
    </style>

<script>
    const synth = window.speechSynthesis;
    let voices = [];
    
    function loadVoices() {
        voices = synth.getVoices();
        const preferredVoices = [
            'Google US English',
            'Microsoft David Desktop',
            'Microsoft Zira Desktop',
            'Samantha'
        ];
        
        if (voices.length > 0) {
            return voices.find(voice => preferredVoices.includes(voice.name)) || voices[0];
        }
        return null;
    }

    synth.onvoiceschanged = loadVoices;

    function speakWord(text) {
        if (synth.speaking) synth.cancel();
        
        const utterance = new SpeechSynthesisUtterance(text);
        const selectedVoice = loadVoices();
        
        if (selectedVoice) {
            utterance.voice = selectedVoice;
            utterance.lang = selectedVoice.lang;
        }

        utterance.rate = 0.95;
        utterance.pitch = 1.05;
        utterance.volume = 1;

        try {
            synth.speak(utterance);
        } catch (error) {
            console.error('Speech synthesis error:', error);
            alert('Error activating speech. Please check browser permissions.');
        }
    }

    document.querySelectorAll('.play-btn').forEach(button => {
        button.addEventListener('click', () => {
            // @ts-ignore 
            const word = button.dataset.word;
            speakWord(word);
        });
    });

    // Initial voice load
    if (speechSynthesis.onvoiceschanged !== undefined) {
        speechSynthesis.onvoiceschanged = loadVoices;
    }
</script>