@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


body,html *{
    margin: 0;
    padding: 0;
}

body,html{
    margin: 0;
    padding: 0;
}

#Hheader{
    position: sticky;
    box-sizing: border-box;
    top: 0px;

    height: 135px;
    width: 100vw;
    padding-inline: 5vw;

    display: grid;
    align-items: center;
    grid-auto-flow: column;
    
    background: linear-gradient(15deg, rgb(0, 0, 80),navy,#6F4E37, gold);
    color: white;
    border-block: 1px solid lemonchiffon;
}
#Hseal{
    width: 45px;
    height: 45px;
}
#Htitle{
    display: flex;
    align-items: center;
    font-size: 45px;
    color: inherit;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    column-gap: 1vw;
}

#Mcheck{
    display: none;
}

#Mtoggles{
    justify-self: end;
    z-index: 9999;
}
.Mtoggle{
    width: 60px;
    height: 60px;
    box-sizing: border-box;
}
#Mmenus{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 300px;
    height: 100vh;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fill,1fr);

    z-index: 9;
}
