---
    import "../styles/standard.css"
---

<div>
    <div></div>
    <div>
        <h2>Text</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente omnis, quis illum expedita modi praesentium veritatis. Ipsam unde maiores, et repellat aliquid dolorum exercitationem eum. Ad nam ut adipisci blanditiis.</p>
        <div>
            <button>Uno</button>
            <button>Dos</button>
        </div>
    </div>
</div>