---
    import { AstroError } from "astro/errors";
    import Picture from "astro/components/Picture.astro";
    interface Props {
        alignment?:  "Left" | "Right" | "Top" | "Bottom";
        title?: string;
        width?: string;
        height?: string;
        img?:string;
        alt?:string;
        floating?:boolean;
    }
    const { alignment = "Top", title = "", width="auto", height="250px", img = "", alt = ""} = Astro.props;

    var placeHolder = (img == "" ? "linear-gradient(-5deg,rgb(137, 70, 199),rgb(212, 110, 212),rgb(212, 110, 212),rgb(137, 70, 199))" : "transparent" )
    var CardFlow = ""
    var SectionHeight = "50%"

    switch(alignment){
        case "Top":
            CardFlow = "column"
            SectionHeight = "50%"
        break;
        case "Bottom":
            CardFlow = "column-reverse"
            SectionHeight = "50%"
        break;
        case "Left":
            CardFlow = "row"
            SectionHeight = "100%"
        break;
        case "Right":
            CardFlow = "row-reverse"
            SectionHeight = "100%"
        break;
    }
    import "../styles/standard.css"
import { Image } from "astro:assets";
---

<div id="InfoCard">
    <div id="InfoImage">
        { placeHolder!="transparent" ? "" :  <img src={img} decoding="async" loading="lazy"/> }
    </div>
    <div id="InfoText">
        <h4>{title}</h4>
        <p>
            <slot></slot>    
        </p>    
    <div>

</div>

<style lang="less" define:vars={{placeHolder,CardFlow,width,height,SectionHeight}}>
    

    #InfoCard{
        width:var(--width);
        height:var(--height);

        margin:50px;

        display:flex;
        flex-direction:var(--CardFlow);

        align-items: center;
        justify-content:space-evenly;

        overflow:hidden;

        border:1px solid white;
        border-radius: 5px;
    }

    #InfoImage{
        width:100%;
        height:var(--SectionHeight);
        background: var(--placeHolder);

        display: flex;
        align-items: center;
        justify-content: center;
        img{
            height: 100%;
        }

        

    }
    #InfoText{
        width:100%;
        height:100%;
        box-sizing: border-box;
        padding-inline:25px;
        padding-block:5px;

        display:flex;
        flex-flow:column;
        align-items:center;
        justify-content: center;
        p{
            width:100%;
            text-align:left;
        }
        h4{
            width:100%;
            text-align:left;
        }
        
    }
</style>