body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label {
    margin : 0;
    padding : 0;
    outline : 0;
    vertical-align : baseline;
    background : transparent;
    font-family : arial, verdana, sans-serif;
    }
    /*****************************/
    /* checkSwitch */
    /*****************************/
    
    .checkSwitch,
    .checkSwitch * {
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-size: 13px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .checkSwitch {
        display: inline-block;
        border: 1px solid #AAA;
        border-radius: 3px;
        cursor: pointer;
        vertical-align: text-bottom;
    }
    
    .checkSwitch.focus {
        outline: none;
      
    
    }
    
    .checkSwitch span.label {
        display: inline-block;
        padding: 5px 3px;
        text-align: center;
        color: #FFF;
    }
    
    .checkSwitch .slider {
        border: 1px solid #CCC;
        background-color: rgb(238,238,238); /* fallback */
        background-image: linear-gradient(bottom, rgb(199,199,199) 3%, rgb(245,245,245) 100%, rgb(255,255,255) 95%);
        background-image: -o-linear-gradient(bottom, rgb(199,199,199) 3%, rgb(245,245,245) 100%, rgb(255,255,255) 95%);
        background-image: -moz-linear-gradient(bottom, rgb(199,199,199) 3%, rgb(245,245,245) 100%, rgb(255,255,255) 95%);
        background-image: -webkit-linear-gradient(bottom, rgb(199,199,199) 3%, rgb(245,245,245) 100%, rgb(255,255,255) 95%);
        background-image: -ms-linear-gradient(bottom, rgb(199,199,199) 3%, rgb(245,245,245) 100%, rgb(255,255,255) 95%);
        background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.03, rgb(199,199,199)),
            color-stop(1, rgb(245,245,245)),
            color-stop(0.95, rgb(255,255,255))
        );
    }
    
    .checkSwitch .label-off {
        background: #CCC;
    }
    
    .checkSwitch .label-on {
        background: #3BA3FF;
    }
    #wrap {
    text-align : center;
    min-width : 320px;
    max-width : 640px;
    margin : auto;
    padding : 0;
    }
    
    #topborder {
    display : block;
    color : #fff;
    font-weight : bold;
    margin-left : auto;
    margin-right : auto;
    margin-top : 5px;
    margin-bottom : 5px;
    text-align : center;
    background : url(images/header-shadow.png) bottom repeat-x;
    }
    
    div.contentbody {
    text-align : center;
    
    box-shadow : 0 3px 3px 3px #000;
    }
    .contentbody h1 {
    font-size : 1.1em;
    font-weight : 800;
    text-shadow : 1px 1px grey;
    text-align : center;
    border-bottom : double #222;
    padding-bottom : 3px;
    text-shadow : 1px 1px grey;
    }
     h2 {
    font-size : 1.0em;
    
    }
    
    
    
      /* Device width 320 iphone */
    @media screen and (max-device-width: 320px){
      div.muc{
     top:0px; height:65px;
     position:fixed;
    z-index:+1;
    width:320px;
    text-align:left;
    box-shadow : 0 2px 2px 2px #000;
    }
    img.branch {
    opacity : 1;
    border : 0;
    }
    
    }
      /* Device width 500 iphone */
    @media screen and (max-device-width: 500px){
      div.muc{
     top:0px; height:65px;
     position:fixed;
    z-index:+1;
    width:500px;
    text-align:left;
    box-shadow : 0 2px 2px 2px #000;
    }
    img.branch {
    opacity : 1;
    border : 0;
    }
    
    }
    @media screen and (max-device-width: 639px){
      div.muc{
     top:0px; height:65px;
     position:fixed;
    z-index:+1;
    width:639px;
    text-align:left;
    box-shadow : 0 2px 2px 2px #000;
    }
    img.branch {
    opacity : 1;
    border : 0;
    }
    
    }
    @media screen and (min-device-width: 640px){
       div.muc {
    position:fixed;
     top:0;
     height:70px;
    
    z-index:+1;
    width:640px;
    text-align:center;
    box-shadow : 0 2px 2px 2px #000;
    }
    img.branch {padding:5px;
    opacity : 1;
    border : 0;
    }
    
    }
    #content { position:relative;
    top:65px;
    min-width : 320px;
    max-width : 640px;
    margin-left : auto;
    margin-right : auto;
    text-align : left;
    }
    
     
    
    
    div.marines {
    background:#FF0000;
    background-image : linear-gradient(to bottom, #C53436 0%, #FF0000 100%);
    
    }
    div.navy {
    background:#722DFC;
    background-image : linear-gradient(to bottom, #260F54 0%, #722DFC 100%);
    
    }
    div.air_force {
    background:#005CFF;
    background-image : linear-gradient(to bottom, #003798 0%, #005CFF 100%);
    
    }
    div.army {
    background:#7B8738;
    background-image : linear-gradient(to bottom, #545C26 0%, #7B8738 100%);
    
    }
    div.coast_guard {
    background:#9E0015;
    background-image : linear-gradient(to bottom,  #E30000 0%, #9E0015 100%);
    
    }
    div.dod {
    background:#000;
    background-image : linear-gradient(to bottom,  #363636 0%, #7a7a7a 100%);
    
    }
    h1.marines, h1.navy, h1.army, h1.air_force, h1.coast_guard,h1.dod{
    padding-top:5px;
    }
    h1.marines, h2.marines {
    color : #c53436;
    text-shadow : 0 1px 1px #000;
    }
    h1.navy, h2.navy {
    color : #722DFC;
    text-shadow : 0 1px 1px #000;
    }
    h1.army, h2.army {
    color : #7B8738;
    text-shadow : 0 1px 1px #000;
    }
    h1.air_force, h2.air_force {
    color : #005CFF;
    text-shadow : 0 1px 1px #000;
    }
    h1.coast_guard, h2.coast_guard {
    color : #9E0015;
    text-shadow : 0 1px 1px #000;
    }
    h1.dod, h2.dod {
    color : #000;
    text-shadow : 0 1px 1px #CCC;
    }
    .navigation {
    width : 100%;
    margin : auto;
    display : block;
    }
    
    img.branch:hover {
    opacity : 0.5;
    border : 0;
    }
    div.wrapper {
    width : 100%;
    overflow : hidden;
    }
    div.content {
    margin-left : 0.2em;
    margin-right : 0.5em;
    }
    input {
    font-family : Helvetica, sans-serif;
    }
    select {
    display: inline-block;
    position: relative;
    line-height: 1;
    width: 110px;
    padding: 2px 2px;
    border: 2px solid #5e5e5e;
    background: #ffffff;
    color: #444444;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    outline: 0;
    outline-offset: -2px; /* Opera */
    cursor: default;
    }
    select:hover, select:active, select:checked {
    }
    input[type="submit"], input[type="reset"] {
     border: 1px solid #AAA;
     border-radius: 3px;
      color: #FFF;
    padding : 2px;
    font-weight : bold;
    font-size : 18px;
    background-image: linear-gradient(to bottom, #3BA3FF 0%, #173DBD 100%);
    }
    input[type="submit"]:hover, input[type="reset"]:hover {
     border: 1px solid #FF0000;
     border-radius: 3px;
      color: #FF0000;
    padding : 2px;
    font-weight : bold;
    font-size : 18px;
    background-image: linear-gradient(to top, #3BA3FF 0%, #173DBD 100%);
    }
    img {
    margin : 0;
    padding : 0;
    }
    .footer1 {
    min-width : 316px;
    max-width : 640px;
    
    font-size : 20px;
    font-weight : bold;
    
    text-align : center;
    text-shadow : 0 -1px 0 rgba(0, 0, 0, 0.6);
    color : #ffffff;
    background : black;
    }
    
    
    div.footer1 a:link, div.footer1 a:visited {
    color : white;
    text-decoration : none;
    }
    div.footer1:hover {
    background : grey;
    color : white;
    }
    
    a:link {
    color : #003399;
    text-decoration : none;
    }
    a:visited {
    color : #006600;
    }
    a:hover {
    color : #ff9900;
    text-decoration : none;
    }
    a:active {
    color : #990000;
    }
    div.ribbons {
    text-align : left;
    width : 90%;
    display : block;
    border-top : 1px solid #d8d8d8;
    color : #333333;
    margin-bottom : 0;
    margin-left:15px;
    padding-bottom : 0;
    text-transform:capitalize;
    }
    table {
    background-color : #F8F8F8;
    width : 100%;
    }
    tr{
    margin:0px 0px;
    padding:0px 0px;
    }
    td.firstcol {
    text-align : left;
    width : 110px;
    }
    td.secondcol {
    text-align : left;
    }
    td.thirdcol {
    text-align : right;
    }
    
    

    ul, ol{
    margin-left : 15px;
    padding-left : 15px;
    padding-top : 2px;
    padding-bottom : 2px;
    }
    ul{list-style-type:square;
    }
    ol.number{font-weight : 700;
    }
    span{font-weight:normal}
    div.accordion {
    text-align : left;
    color : #333333;
    }
    .accordion h3 {
    background-color : #f6f6f6;
    line-height : 2.5em;
    display : block;
    border-top : 1px solid #d8d8d8;
    padding : 7px 7px;
    margin : 0;
    font : bold 100%/100% Arial, Helvetica, sans-serif;
    border : #c4c4c4 solid 1px;
    cursor : pointer;
    }
    
    .news {font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-align : left;
    width : 100%;}
    
    
            .tooltip{
                   display: inline;
                position: relative;
            }
            
            .tooltip:hover:after{
                background: #333;
                background: rgba(0,0,0,.8);
                border-radius: 5px;
                bottom: 26px;
                color: #fff;
                content: attr(title);
                left: 20%;
                padding: 5px 15px;
                position: absolute;
                z-index: 98;
                width: 220px;
            }
            
            .tooltip:hover:before{
                border: solid;
                border-color: #333 transparent;
                border-width: 6px 6px 0 6px;
                bottom: 20px;
                content: "";
                left: 50%;
                position: absolute;
                z-index: 99;
            }
        