body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x:hidden;
    
}


#background{
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    
}
#title{
    position: relative;
    color: white;
    padding-inline: 5px;
    font-size: 50px;
    display: grid;
    row-gap: 50px;
    padding: 10px;
}
#title :nth-child(1){
    position: relative;
    left: -5vw;
    background-color: rgba(255, 215, 0, 0.4);
    box-shadow: 0px 0px 10px 10px rgba(255, 215, 0, 0.4);
    padding: 5px;
    
}
#title :nth-child(2){
    position: relative;
    right: -5vw;

    background-color: rgba(0, 0, 125, 0.4);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 125, 0.4);
    padding: 5px;
}
#title::before{
    content: "";
    position: absolute;
    top: -10px;
    left: -7vw;
    width: 50%;
    height: 5px;
    background-color: gold;
}
#title::after{
    content: "";
    position: absolute;
    bottom: -10px;
    right: -7vw;
    width: 50%;
    height: 5px;
    background-color: navy;
}
#info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    background-color:burlywood;
}

#options{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    column-gap: 1vw;
    background-color:  #EDDDCF;
    justify-content: center;
    align-items: center;
    
}
#options a{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #474448;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 275px;
    height: 175px;
    margin-bottom: 20px;
}

.gridTitle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100vw;
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    
}

.sup{
    font-size: 26px;
    padding-block: 10px;
}
.img{
    object-fit:contain;
    
    width:200px;
    height: 100px;
    padding-block: 20px;
}