---
    import Layout from "../../../layouts/GlobalHTMLLayout.astro";
    import Top from "../../../components/Sections/Top.astro";
---
<Layout name="Extra Info">
    <Top>
        <h1 style="color:black;">Extra Info</h1>
    </Top>
    <div>
        <div></div>
        <div></div>
    </div>
</Layout>