---
    import Layout from "../../../layouts/GlobalHTMLLayout.astro";
    import Top from "../../../components/Sections/Top.astro";
---
<Layout name="Extra Info">
    <Top>
        <h1 style="color:black;">Extra Info</h1>
    </Top>
    <div id="tabs">
        <div>
            <h1>Leadership</h1>
            <p>
                <hr>
                <b>CO: Jenniffer Olivera</b><br> <b>XO: Paula Solano</b><br> <b>SEL: Henry Alvarado</b><br> <b>OPS: Guadalupe</b><br> <b>Supply: Yasime Trujillo</b> <br><b>Admin: Jesus Cruz</b> <br><b>Fun boss: Wendy</b><br> <b>IT: Jose and Saul</b>
    <p id="extraStuff">TBA* To be added, or worked on at a later date - Gmail 18000644@parlierusd.org to fix your name</p>
        
            </p>
        </div>
        <div>
            <h1>Community Service</h1>
            <p>
                <hr>
                <b style="display:flex;justify-items: center;text-align: center;">LEO CLUB</b>
            <a href="https://www.facebook.com/p/Parlier-Lions-Club-100067596285722/" class="link"><img class="img" src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/489d3dd5a415f559e90e33038658959f1df9d675/Other/leo-logo.gif" alt="leo Club"></a>
        </p>
        </div>
    </div>
</Layout>
<style>
    body *{
        color: black;
    }
    #tabs{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        text-align: center;
        column-gap: 24px;
        padding: 24px;
    }
    b{
        font-weight: 600; /** r/programing war crimes */
    }
    #links{
    width: 100vw;
    color: #000;
    background-color: #F1F0EA;

}
.link{
    position: relative;
    width: 300px;
    height: 200px;
    text-align: center;
    align-items: center;
    color: wheat;
    border-color: #534B52;
}
.img{
  object-position: center;
    position: relative;
    padding: 2vw;
    height: 150px;
    transition: 100ms ease-in-out;
  transform-origin: center;
}
.link:hover img{
    transform: scale(1.05);
    transform-origin: center;
    cursor: pointer;
    filter: grayscale(70%);
}

/*#474448 2D232E EDDDCF 534B52 F1F0EA */
</style>