---

interface Props {
    frontmatter?
    boxColor?
    lineColor1?
    lineColor2?
    textColor?
    bgColor?
}
const { frontmatter, boxColor = frontmatter.boxColor, lineColor1 = frontmatter.lineColor1, lineColor2 = frontmatter.lineColor2 , textColor = frontmatter.textColor, bgColor = frontmatter.bgColor} = Astro.props;

import Header from '../components/Required/Header.astro';
import Menus from '../components/Required/menus/Menus.astro';
import Footer from '../components/Required/Footer.astro';
import Top from '../components/Sections/Top.astro';
---

<!-- Default layout for all .md files -->

<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
		<meta name="description" content=" The portfolio of Cyborgnetical." />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="icon" type="image/svg+xml" href="/NJROTC-Seal.svg" />
        <meta name="google-site-verification" content="veqAgmjtvOmwMZALJnKHKFKtjwAMRzjQivx_rp-51T0" />
		<title>Parlier NJROTC | {frontmatter.name}</title>
    </head>
    <body style="margin:0px;">
        <Header></Header>
        <Menus></Menus>
        <Top backgroundColor={bgColor}>
            <h1 id="TopTitle">{frontmatter.title}</h1>
        </Top>
        <main>
            <slot/>
        </main>
        <Footer></Footer>
        <style is:global define:vars={{bgColor, boxColor, lineColor1, lineColor2, textColor}}>
            body *{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            h1{
                font-size: 2.5em;
                font-family: "Josefin sans";
                font-weight: bold;
            }
            h2{
                font-size: 2em;
            }
            main{
                max-width: 100vw;
                padding-inline: 10vw;
                text-wrap: wrap;
            }
            main h1{
                border-top: 1px solid black;
                padding-top: 25px;
            }
            #TopTitle{
                position: relative;
                padding-inline:5vw ;
                padding-block: 25px;
                background-color: var(--boxColor);
                box-shadow: 0px 0px 10px 10px var(--boxColor);
                color: var(--textColor);
            }
            #TopTitle::before{
                content: "";

                position: absolute;
                top:-25px;
                left: -25px;

                background-color: var(--lineColor1);
                width: 50%;
                height: 5px;
            }
            #TopTitle::after{
                content: "";

                position: absolute;
                right:-25px;
                bottom: -25px;

                background-color: var(--lineColor2);
                width: 50%;
                height: 5px;
            }
            @font-face {
                font-family: "Josefin Sans"; /** Look its me */
                src: url("/fonts/JosefinSans-VariableFont_wght.ttf");
            }
        </style>
        
    </body>
</html>