---

interface Props {
	name: string;
    spa?: boolean; // single page app, if true webpage will behave more like an app
}
const { name, spa = false } = Astro.props;

import Header from '../components/Required/Header.astro';
import Menus from '../components/Required/menus/Menus.astro';
import MobileNav from '../components/Required/MobileNav.astro';
import Footer from '../components/Required/Footer.astro';
// disable the loading page in development if u want
import Loading from '../components/Required/Loading.astro'

import { ViewTransitions } from 'astro:transitions';
import "../styles/standard.css"

---

<!doctype html>
<html>
    <head>
        <ViewTransitions></ViewTransitions>
        <meta charset="UTF-8" />
		<meta name="description" content="NJROTC" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="icon" type="image/svg+xml" href="/NJROTC-Seal.svg" />
        <meta name="google-site-verification" content="veqAgmjtvOmwMZALJnKHKFKtjwAMRzjQivx_rp-51T0" />
		<title>Parlier NJROTC | {name}</title>
        <script is:inline>
            let loaded = false
        </script>
    </head>
    <body style="margin:0px; overflow-x:hidden;">
        
        <Header transition:persist></Header>
        <Menus></Menus>
        <MobileNav transition:persist></MobileNav>
        <!-- set z-index to negative else the main content will overlap the menus -->
        <main id="Main-Content" transition:animate="slide" style="z-index: -999;">
            <slot></slot>
        </main>
        <Footer  transition:persist></Footer>
        <script is:inline>
            loaded = true
            console.log("loaded")
        </script>
        
    </body>
</html>