---

interface Props {
	name: string;
    frontmatter?
}
const { frontmatter , name = frontmatter.name  } = Astro.props;

import Header from '../components/Required/Header.astro';
import Menus from '../components/Required/menus/Menus.astro';
import Footer from '../components/Required/Footer.astro';
---

<!-- Default layout for all .md files -->

<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
		<meta name="description" content="NJRO" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="icon" type="image/svg+xml" href="/NJROTC-Seal.svg" />
        <meta name="google-site-verification" content="veqAgmjtvOmwMZALJnKHKFKtjwAMRzjQivx_rp-51T0" />
		<title>Parlier NJROTC | {name}</title>
    </head>
    <body style="margin:0px; overflow-x:hidden;">
        <Header></Header>
        <Menus></Menus>
        <slot></slot>
        <Footer></Footer>
        <style is:global>
            body *{
                color: white;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                
            }
            .page-title{
                display: none;
            }
            h1,h2,h3,h4,h5,h6{
                font-weight: 600;
            }
            h1{
                font-size: 3em;
                font-family: "Josefin sans";
                
            }
            h2{
                font-size: 2em;
            }
            @font-face {
                font-family: "Josefin Sans"; /** Look its me */
                src: url("/fonts/JosefinSans-VariableFont_wght.ttf");
            }
        </style>
        
    </body>
</html>