---

interface Props {
	name: string;
    frontmatter?
}
const { frontmatter , name = frontmatter.name  } = Astro.props;

import Header from '../components/Required/Header.astro';
import Menus from '../components/Required/menus/Menus.astro';
import MobileNav from '../components/Required/MobileNav.astro';
import Footer from '../components/Required/Footer.astro';
// disable the loading page in development if u want
// import Loading from '../components/Required/Loading.astro' don't mind if i do

import { ViewTransitions } from 'astro:transitions';
import "../styles/standard.css"

---

<!doctype html>
<html>
    <head>
        <ViewTransitions></ViewTransitions>
        <meta charset="UTF-8" />
		<meta name="description" content="NJROTC" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="icon" type="image/svg+xml" href="/NJROTC-Seal.svg" />
        <meta name="google-site-verification" content="veqAgmjtvOmwMZALJnKHKFKtjwAMRzjQivx_rp-51T0" />
		<title>Parlier NJROTC | {name}</title>

    </head>
    <body style="margin:0px; overflow-x:hidden;">
        <Header></Header>
        <Menus></Menus>
        <MobileNav></MobileNav>
        <main id="Main-Content">
            <slot></slot>
        </main>
        <Footer></Footer>
        
    </body>
</html>