---
    import GlobalHTMLLayout from "../../layouts/GlobalHTMLLayout.astro";
    import SelectionColumns from "../../layouts/SelectionColumns.astro";
---
<SelectionColumns name="Events">
        <a href="/Events/Calendar">
            <h1>Calendar</h1>
            <img src="https://www.svgrepo.com/show/423030/calendar-clock-time.svg" decoding="async" loading="lazy">
            <p>Up coming events and information</p>
        </a>
        <a href="/Events/Fundraising">
            <h1>Fundraising</h1>
            <img src="https://www.svgrepo.com/show/474909/money-transfer.svg" decoding="async" loading="lazy" />
            <p>Ways to support the unit</p>
        </a>
</SelectionColumns>