@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


body{
    padding: 0;
    margin: 0;
    height: 100%;
}


#Hheader{
    position: sticky;
    background: linear-gradient(15deg, rgb(0, 0, 80),navy,#6F4E37, gold);
    box-sizing: border-box;
    border-bottom: 1px solid lemonchiffon;
    border-top: 1px solid lemonchiffon;
    top: 0px;
    color: white;
    display: flex;
    padding: 40px;
    z-index: 9999999999999999999999999;
    align-items: center;
    justify-content: center;
}
/*#474448 2D232E EDDDCF 534B52 F1F0EA */
#Htitle{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Hseal{
    height:45px;
    width: 6vw;
}

#HmenuBtn{
    margin-left: auto;
    width: 30px;
    height: 30px;
    filter: invert(1);
    background-size: contain;
}



#Mmenus{
    filter: blur(0px);
    position: fixed;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: gray;
    right: 0px;
    top:0px;
    width:0px;
    height: 100%;
    color:white;
    background-color: rgb(0, 0, 64);
    transition: width 250ms;
    z-index: 99999999999999999999999999;
}
#Mmenus:target{
    width: 40vmin;
    
}

#Mmenus header{
    display: flex;
    background-color: navy;
    padding: 5vmin;
    font-size: 25px;
}

#Mnavigation{
    position: relative;
    display: flex;
    flex-direction: column;
}
#Mnavigation a{
    position: relative;
    text-align: right;
    z-index: 1;
    padding-inline: 2vmin;
    padding-block: 2vh;
    color: rgb(249, 249, 249);
    transition: padding-right 250ms;
}
#Mnavigation a::before{
    content: '';
    z-index: -1;
    position: absolute;
    background-color: rgb(0, 28, 128);
    width: 0%;
    height: 100%;
    right: 0%;
    top:0%;
    opacity: 0.5;
    transition: width 250ms;
}
#Mnavigation a:hover::before{
    width: 100%;
}
#Mnavigation a:hover{
    padding-right: 5vmin;
    transition: 250ms;
}


.by{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    padding: 2px;
    width: 96%;
    text-align: center;
    bottom:0%;
}

a{
    color: inherit;
    text-decoration: none;
}