---
    import Layout from "../../../../layouts/GlobalHTMLLayout.astro";
    import Top from "../../../../components/Sections/Top.astro";
---


<Layout name="Chain Of Command">

    <Top image="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Other/Boats.jpeg">
        <div id="title">
            <div>United States Navy</div>
            <div>Chain of Command</div>
        </div>
    </Top>
    <div id="info">
        <div id="chain">

            <div class="person">
                <div class="about">
                    <div class="personName">Commander and Cheif | President: Joseph Robinette Biden Jr. <br> (Joe Biden)</div>
                    <hr class="line">
                    <div class="personAbout">
                        Joseph Robinette Biden Jr. or Joe biden as how everyone knows him, is incharge of the entire
                        military including the navy. He is at the top of the chain of command and commands our navy.
                        A bit scary thinking about it because he is very sleepy. An easy way to remember him is through
                        memes.
                    </div>
                </div>
                <img class="portrait" src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/Joe_Biden_presidential_portrait.jpg">
            </div>
            <div class="down">
                <img class="arrow" src="/icons/arrow-down-direction-svgrepo-com.svg">
            </div>
            <div class="person">
                <div class="about">
                    <div class="personName">Secretary of Defense | Lloyd J. Austin the III</div>
                    <hr class="line">
                    <div class="personAbout">
                        Lloyd J. Austin the III is incharge of all military unless the president wants to take control.
                        He oversees all branches including Air Force, Army, and Navy. He is incharge of defending the
                        u.s.a.
                        and dictating defense policies. An easy way to remember him is that he has the name of a king.
                    </div>
                </div>
                <img class="portrait" src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/Lloyd J. Austin III.png">
            </div>
            <div class="down">
                <img class="arrow" src="/icons/arrow-down-direction-svgrepo-com.svg">
            </div>
            <div class="person">
                <img class="portrait" src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/Carlos_Del_Toro_SECNAV_portrait.jpg">
                <div class="about">
                    <div class="personName">Secretary of Navy | Commander Carlos Del Toro</div>
                    <hr class="line">
                    <div class="personAbout">
                        Carlos Del Toro is incharge of the entire U.S.A. navy. All the boats, generals, missiles,
                        submarines,
                        weapons, etc
                        all under his control. Basically defender of the water. A good way to remember him is that he
                        has a spanish
                        name that sounds from spain, not mexico.
                    </div>
                </div>
            </div>
            <div class="down">
                <img class="arrow" src="/icons/arrow-down-direction-svgrepo-com.svg">
            </div>
            <div class="person">
                <img class="portrait" src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/Us_rep_mike_johnson_official_photo.jpg">
                <div class="about">
                    <div class="personName">Speaker of the house | Mike Johnson</div>
                    <hr class="line">
                    <div class="personAbout">
                        An easy way to remeber him is by this rhyme "Drop the mic Mike Johnson"
                    </div>
                </div>
            </div>
            <div class="down">
                <img class="arrow" src="/icons/arrow-down-direction-svgrepo-com.svg">
            </div>
            <div class="person">
                <div class="about">
                    <div class="personName">Cheif of Naval Operations | Admiral Lisa Franchetti</div>
                    <hr class="line">
                    <div class="personAbout">
                        An easy way to remeber him is by this rhyme "Lisa, bring the Confetti Franchetti" or just
                        "Confetti
                        Franchetti"
                    </div>
                </div>
                <img class="portrait" src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/ADM_Lisa_M._Franchetti_.jpg">
            </div>
            <div class="down">
                <img class="arrow" src="/icons/arrow-down-direction-svgrepo-com.svg">
            </div>
            <div class="person">
                <div class="about">
                    <div class="personName">Master Chief Petty Officer of the Navy | James M. Honea</div>
                    <hr class="line">
                    <div class="personAbout">
                        Born in a military family in Lubbock, Texas, began his Navy career in 1987 and quickly rose through the ranks from Boatswain’s Mate to Master Chief.
                        He served on Many ships, including <a href="https://en.wikipedia.org/wiki/USS_John_A._Moore">USS John A. Moore</a> and <a href="https://en.wikipedia.org/wiki/USS_Bonhomme_Richard_(LHD-6)">USS Bonhomme Richard</a>, and also held significant shore assignments at the Navy Reserve Readiness Command, U.S. Naval Academy, and Commander, Navy Region Southwest.
                        James M. Honea also deployed to Afghanistan and served in leadership roles at U.S. Naval Forces Korea and <a href="https://www.cusnc.navy.mil/">U.S. Fifth Fleet.</a>
                        With numerous awards including the Defense Superior Service Medal, he became the 16th Master Chief Petty Officer of the Navy on September 8, 2022.
                    </div>
                </div>
                <img class="portrait" src="https://github.com/Parlier-NJROTC/Assets/blob/main/People/220912-N-NO101-902.jpeg?raw=true">
            </div>
            <div class="down">
                <img class="arrow" src="/icons/arrow-down-direction-svgrepo-com.svg">
            </div>
            <div class="person">
                <img class="portrait" src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/Jeffrey_J._Czerewko_(2).jpg">
                <div class="about">
                    <div class="personName">Naval Education and Training Commander | Rear Admiral Jeffrey Czerewko</div>
                    <hr class="line">
                    <div class="personAbout">
                        He sounds russian
                    </div>
                </div>
            
            </div>
            <div class="down">
                <img class="arrow" src="/icons/arrow-down-direction-svgrepo-com.svg">
            </div>
            <div class="person">
                <img class="portrait" src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/231229-N-IK959-002.JPG">
                <div class="about">
                    <div class="personName">Naval Service Training Commander | Rear Admiral Craig T. Mattingly</div>
                    <hr class="line">
                    <div class="personAbout">
                        A good way to remember him is by these words that sound simlilar "Crazy Tree Matt"
                    </div>
                </div>
            </div>
            <div class="down">
                <img class="arrow" src="/icons/arrow-down-direction-svgrepo-com.svg">
            </div>
            <div class="person">
                <div class="about">
                    <div class="personName">Area service Maneger | Master Cheif Ken Ballard</div>
                    <hr class="line">
                    <div class="personAbout">
                        "He is not who you expect" - Cheif
                    </div>
                </div>
                <img class="portrait" src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/Ballard.jpg">
            </div>
            <div class="down">
                <img class="arrow" src="/icons/arrow-down-direction-svgrepo-com.svg">
            </div>
            <div class="person">
                <div class="about">
                    <div class="personName">Naval Science Instructor | Senior Chief Petty Officer Felipe Gutierrez</div>
                    <hr class="line">
                    <div class="personAbout">Senior Chief Gutierrez retired in April
                        2023 after 20 years and 9 months of honorable and faithful service.
                        Senior Chief Gutierrez is married to Hilda Gutierrez and they have two sons Fabien
                        Anotnio Gutierrez and Felipe Jr Gutierrez. His personal awards include two Navy
                        Commendation Medal, nine Navy Achievement Medals, and other service and
                        campaign awards.                        
                    </div>
                </div>
                <img class="portrait" src="https://github.com/Parlier-NJROTC/Assets/blob/main/People/vecteezy_user-profile-vector-flat-illustration-avatar-person-icon_37336395.jpg?raw=true">
            </div>
            <div class="down">
                <img class="arrow" src="/icons/arrow-down-direction-svgrepo-com.svg">
            </div>
            <div class="person">
                <img class="portrait" src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/Chief_Smile.jpg">
                <div class="about">
                    <div class="personName">Naval Science Instructor | Chief Killian</div>
                    <hr class="line">
                    <div class="personAbout">
                        Your naval science instructor, the one incharge of your unit. If you don't her. the
                        hecc are you
                        doing!?
                    </div>
                </div>
            </div>
            <div class="down">
                <img class="arrow" src="/icons/arrow-down-direction-svgrepo-com.svg">
            </div>
            <div class="person">
                <img class="portrait" src="https://github.com/Parlier-NJROTC/Assets/blob/main/People/vecteezy_user-profile-vector-flat-illustration-avatar-person-icon_37336395.jpg?raw=true">
                <div class="about">
                    <div class="personName"> Unit Cadet Commanding Officer (CO) | Cadet Lieutenant Luis Garcia</div>
                    <hr class="line">
                    <div class="personAbout">
                        He is the right hand of Senor Cheif and Cheif, If you need any help you can go ask Him.
                    </div>
                </div>
            </div>
            <div class="down">
                <img class="arrow" src="/icons/arrow-down-direction-svgrepo-com.svg">
            </div>
            <div class="person">
                <div class="about">
                    <div class="personName">Unit Cadet Executive Officer (XO) | Cadet LTJG Jesus Cruz</div>
                    <hr class="line">
                    <div class="personAbout">
                        TBA - (To Be Added)
                    </div>
                </div>
                <img class="portrait" src="https://github.com/Parlier-NJROTC/Assets/blob/main/People/vecteezy_user-profile-vector-flat-illustration-avatar-person-icon_37336395.jpg?raw=true">
            </div>
            <div class="down">
                <img class="arrow" src="/icons/arrow-down-direction-svgrepo-com.svg">
            </div>
            <div class="person">
                <div class="about">
                    <div class="personName">Unit Cadet Command Senior Enlisted Advisor Chief (SEL) | Cadet Chief Gus Martinez</div>
                    <hr class="line">
                    <div class="personAbout">
                        TBA - (To Be Added)
                    </div>
                </div>
                <img class="portrait" src="https://github.com/Parlier-NJROTC/Assets/blob/main/People/vecteezy_user-profile-vector-flat-illustration-avatar-person-icon_37336395.jpg?raw=true">
            </div>
            <!-- Add More If needed -->
        </div>
    </div>
</Layout>

<style>
    body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x:hidden;
    
}
.personAbout a{
    color:black;
}


#background{
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-repeat: no-repeat, repeat;
    background-position: 0% 25%;
    background-size: cover;
    
    
}
#title{
    position: relative;
    color: white;
    padding-inline: 5px;
    font-size: 50px;
    display: grid;
    row-gap: 50px;
    padding: 10px;
}
#title :nth-child(1){
    position: relative;
    left: -5vw;
    background-color: rgba(255, 215, 0, 0.4);
    box-shadow: 0px 0px 10px 10px rgba(255, 215, 0, 0.4);
    padding: 5px;
    
}
#title :nth-child(2){
    position: relative;
    right: -5vw;

    background-color: rgba(0, 0, 125, 0.4);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 125, 0.4);
    padding: 5px;
}
#title::before{
    content: "";
    position: absolute;
    top: -10px;
    left: -7vw;
    width: 50%;
    height: 5px;
    background-color: gold;
}
#title::after{
    content: "";
    position: absolute;
    bottom: -10px;
    right: -7vw;
    width: 50%;
    height: 5px;
    background-color: navy;
}
#info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    background-color:#d7e4ec;
    text-align: center;
}
#chain{
    position: relative;
    display: grid;
    width: 100vw;
    padding-bottom: 50px;
}
.person{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about{
    width: 50vw;
}
.personName{
    width: 50vw;
    height: 100px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.personAbout{
    padding-inline: 2vw;
    width: 50vw;
    font-size: 16px;
    box-sizing: border-box;
    color: black;
}
.line{
    align-self: start;
    width: 40vw;
    margin-inline:5vw;
}
.portrait{
    width: 30vmin;
    align-self: end;
    right: 0px;
    margin-inline: 10vw;
    margin-block: 5vmin;
    border-image: linear-gradient(25deg ,navy ,#4E65FF,#92EFFD) 1;
    border-width: 4px;
    border-style: solid;
}

.down{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.arrow{
    width: 10vmin;
}
</style>