---
import Layout from "../../../../layouts/GlobalHTMLLayout.astro";
import Top from "../../../../components/Sections/Top.astro";
---

<Layout name="Chain Of Command">
    <Top
        image="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Other/Boats.jpeg"
    >
        <div id="title">
            <div>United States Navy</div>
            <div>Chain of Command</div>
        </div>
    </Top>
    <div id="info">
        <div id="chain">
            <div class="person">
                <div class="about">
                    <div class="personName">
                        Commander and Chief | President: Donald John Trump
                    </div>
                    <hr class="line" />
                    <div class="personAbout">
                        The 45th and 47th president of the USA
                    </div>
                </div>
                <img
                    class="portrait"
                    src="https://www.whitehouse.gov/wp-content/uploads/2025/01/Donald-J-Trump.jpg"
                />
            </div>
        </div>

        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <div class="about">
                <div class="personName">Vice President | James David Vance</div>
                <hr class="line" />
                <div class="personAbout">
                    James David Vance was elected to the U.S. Senate. As a
                    Senator, he was a pushing issues such as revitalizing
                    American manufacturing, and fighting for the prosperity of
                    working-class families across the country.
                </div>
            </div>
            <img
                class="portrait"
                src="https://github.com/Parlier-NJROTC/Assets/blob/main/People/JD-Vance.png?raw=true"
            />
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <img
                class="portrait"
                src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/Us_rep_mike_johnson_official_photo.jpg"
            />
            <div class="about">
                <div class="personName">
                    Speaker of the house | Mike Johnson
                </div>
                <hr class="line" />
                <div class="personAbout">
                    American lawyer and politician. He has served as the 56th
                    speaker of the United States House of Representatives since
                    2023. Johnson began his political career by winning a seat
                    in the Louisiana House of Representatives in 2015.
                </div>
            </div>
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <img
                class="portrait"
                src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/Marco-Rubio.jpg"
            />
            <div class="about">
                <div class="personName">Secretary of State | Marco Rubio</div>
                <hr class="line" />
                <div class="personAbout">
                    Rubio wrote and passed the Uyghur Forced Labor Prevention
                    Act, which represents the greatest turning point in
                    U.S.-China relations in decades. He also co-led the Hong
                    Kong Relations Act, and the VERDAD Act.
                </div>
            </div>
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <div class="about">
                <div class="personName">
                    Secretary of Defense | Honorable Pete Hegseth
                </div>
                <hr class="line" />
                <div class="personAbout">
                    Hegseth was commissioned as an infantry officer in the U.S.
                    Army National Guard. He participated in a number of
                    active-duty deployments during his time in service.
                </div>
            </div>
            <img
                class="portrait"
                src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/refs/heads/main/People/Pete%20Hegseth.jpeg"
            />
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <div class="about">
                <div class="personName">
                    Secretary of Navy | Honorable John Phelan
                </div>
                <hr class="line" />
                <div class="personAbout">
                    John Phelan (born 1964), is an American businessman and art
                    collector, and government official currently serving as the
                    79th United States secretary of the Navy under
                </div>
            </div>
            <img
                class="portrait"
                src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/refs/heads/main/People/john-phelan2.jpg"
            />
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <img
                class="portrait"
                src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/refs/heads/main/People/ADM_James_W._Kilby.jpg"
            />
            <div class="about">
                <div class="personName">
                    (Acting) Chief of Naval Operations | Admiral James Wells
                    Kilby
                </div>
                <hr class="line" />
                <div class="personAbout">
                    Raised in Pound Ridge, New York, Kilby is a 1986 graduate of
                    the United States Naval Academy. In February 2025 he was
                    assigned to be Acting Chief of Naval Operations.
                </div>
            </div>
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <img
                class="portrait"
                src="https://github.com/Parlier-NJROTC/Assets/blob/main/People/220912-N-NO101-902.jpeg?raw=true"
            />
            <div class="about">
                <div class="personName">
                    Master Chief Petty Officer of the Navy | James M. Honea
                </div>
                <hr class="line" />
                <div class="personAbout">
                    Born in a military family in Lubbock, Texas, began his Navy
                    career in 1987. With numerous awards including the Defense
                    Superior Service Medal, he became the 16th MCPON on
                    September 8, 2022.
                </div>
            </div>
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <div class="about">
                <div class="personName">
                    Naval Education and Training Commander | Rear Admiral
                    Jeffrey Czerewko
                </div>
                <hr class="line" />
                <div class="personAbout">
                    Czerewko's shore roles include fleet replacement squadron
                    instructor pilot, electronic warfare branch chief on the
                    Joint Staff, and chief of staff for Commander, Naval Air
                    Forces. As a flag officer, he served as deputy director for
                    Global Operations on the Joint Staff and commander of CSG-4.
                    He assumed command of the Naval Education and Training
                    Command on June 8, 2023, and has received several personal
                    awards, including the Navy and Marine Association Leadership
                    Award in 2002 and 2004.
                </div>
            </div>
            <img
                class="portrait"
                src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/Jeffrey_J._Czerewko_(2).jpg"
            />
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <div class="about">
                <div class="personName">
                    Naval Service Training Commander | Rear Adm. Matthew T.
                    Pottenburgh
                </div>
                <hr class="line" />
                <div class="personAbout">
                    Rear Adm. Matt Pottenburgh, of Galena, Ohio graduated from
                    The Ohio State University, where he earned a Bachelor of
                    Science in Industrial Design and received Distinguished
                    Naval Graduate honors from Naval Reserve Officers Training
                    Corps. He holds a Master of Science in Operations Management
                    and Finance from the University of Arkansas and a Master of
                    Science in National Resource Strategy from the National
                    Defense University Dwight D. Eisenhower School.
                </div>
            </div>
            <img
                class="portrait"
                src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/refs/heads/main/People/250301-N-OV999-001.png"
            />
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <img
                class="portrait"
                src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/Mr-Bruce-Nolan.png"
            />
            <div class="about">
                <div class="personName">
                    Director of NJROTC | Mr. Bruce Nolan
                </div>
                <hr class="line" />
                <div class="personAbout">
                    Mr. Bruce Nolan, a native of New Orleans, Louisiana, found
                    his passion to serve and learned to lead as an NJROTC cadet
                    at Brother Martin High School. He earned a Navy ROTC
                    scholarship while at the University of Mississippi and
                    commissioned into the Navy as an Ensign in 1994. He
                    designated as a Naval Aviator in 1997. He holds a Master of
                    Science in Global Leadership from the University of San
                    Diego.
                </div>
            </div>
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <img
                class="portrait"
                src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/Ballard.jpg"
            />
            <div class="about">
                <div class="personName">
                    Area 22 service Manager | Master Chief Ken Ballard
                </div>
                <hr class="line" />
                <div class="personAbout">
                    An energetic retired Department of Defense professional with
                    over 28 years of experience, he specializes in Leader
                    Development, Marketing, Relationship Management, and
                    Operations. Committed to organizational growth and workforce
                    development, he has enhanced Leadership and Human Resources
                    Management throughout his career. Key accomplishments
                    include coordinating military and civilian efforts for the
                    operational success of over 43,000 service members in the
                    Pacific and unifying 22 Senior Human Resources Strategic
                    Partners in Guam while managing $16.6 million in assets.
                    Passionate about professional growth, she has supported the
                    career advancements of over 300 personnel and represented
                    the U.S. as an ambassador in several countries.
                </div>
            </div>
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <div class="about">
                <div class="personName">
                    Naval Science Instructor | Senior Chief Petty Officer Felipe
                    Gutierrez
                </div>
                <hr class="line" />
                <div class="personAbout">
                    He became a Chief Petty Officer at ACU-1, completing
                    deployments and eventually serving as CSMP Manager for USS
                    FREEDOM and USS FORT WORTH. He then served on USS BOXER,
                    being promoted to Senior Chief and completing a Western
                    Pacific Deployment. In 2020, he served on USS CORONADO
                    before retiring in April 2023 after 20 years and 9 months of
                    service.
                </div>
            </div>
            <img class="portrait" src="/images/SeniorCheifCookingPancaks.jpg" />
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <div class="about">
                <div class="personName">
                    Naval Science Instructor | Chief Killian
                </div>
                <hr class="line" />
                <div class="personAbout">
                    This is our naval Science Instructor.
                    <!-- Wordz -->
                </div>
            </div>
            <img
                class="portrait"
                src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/Chief_Smile.jpg"
            />
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <img
                class="portrait"
                src="https://github.com/Parlier-NJROTC/Assets/blob/main/People/Luis%20Garcia.png?raw=true"
            />
            <div class="about">
                <div class="personName">
                    Unit Cadet Commanding Officer (CO) | Cadet Lieutenant Luis
                    Garcia
                </div>
                <hr class="line" />
                <div class="personAbout">
                    He is the right hand of Senor Chief and Chief, If you need
                    any help you can go ask Him.
                </div>
            </div>
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <img
                class="portrait"
                src="https://github.com/Parlier-NJROTC/Assets/blob/main/People/vecteezy_user-profile-vector-flat-illustration-avatar-person-icon_37336395.jpg?raw=true"
            />
            <div class="about">
                <div class="personName">
                    Unit Cadet Executive Officer (XO) | Cadet LTJG Jesus Cruz
                </div>
                <hr class="line" />
                <div class="personAbout">
                    He is a junior, and he enjoys playing volleyball. If you
                    ever need help, please reach out to Cadet Jesus Cruz, and he
                    will always be here to listen to everyone’s concerns and
                    help if needed.
                </div>
            </div>
        </div>
        <!-- Add More If needed -->
    </div>

    <style>
        :root {
            --align: center;
        }
        body {
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
                sans-serif;
            overflow-x: hidden;
        }
        .personAbout a {
            color: var(--Text-color);
        }

        #background {
            width: 100vw;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 600px;
            background-repeat: no-repeat, repeat;
            background-position: 0% 25%;
            background-size: cover;
        }
        #title {
            position: relative;
            color: white;
            padding-inline: 5px;
            font-size: 50px;
            display: grid;
            row-gap: 50px;
            padding: 10px;
        }
        #title :nth-child(1) {
            position: relative;
            left: -5vw;
            background-color: rgba(255, 215, 0, 0.4);
            box-shadow: 0px 0px 10px 10px rgba(255, 215, 0, 0.4);
            padding: 5px;
        }
        #title :nth-child(2) {
            position: relative;
            right: -5vw;

            background-color: rgba(0, 0, 125, 0.4);
            box-shadow: 0px 0px 10px 10px rgba(0, 0, 125, 0.4);
            padding: 5px;
        }
        #title::before {
            content: "";
            position: absolute;
            top: -10px;
            left: -7vw;
            width: 50%;
            height: 5px;
            background-color: gold;
        }
        #title::after {
            content: "";
            position: absolute;
            bottom: -10px;
            right: -7vw;
            width: 50%;
            height: 5px;
            background-color: navy;
        }
        #info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-flow: row;
            background-color: var(--info-BG-color);
            text-align: center;
        }
        #chain {
            position: relative;
            display: grid;
            width: 100vw;
            padding-bottom: 50px;
        }
        .person {
            width: 100vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--Text-color);
        }
        .about {
            width: 50vw;
        }
        .personName {
            width: 50vw;
            height: 100px;
            font-size: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--Text-color);
        }
        .personAbout {
            padding-inline: 2vw;
            width: 50vw;
            font-size: 16px;
            box-sizing: border-box;
            color: var(--Text-color);
        }
        .line {
            align-self: start;
            width: 40vw;
            margin-inline: 5vw;
        }
        .portrait {
            width: 30vmin;
            align-self: end;
            right: 0px;
            margin-inline: 10vw;
            margin-block: 5vmin;
            border-image: linear-gradient(25deg, navy, #4e65ff, #92effd) 1;
            border-width: 4px;
            border-style: solid;
        }

        .down {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .arrow {
            width: 10vmin;
        }
    </style>
</Layout>
