---
import Layout from "../../../../layouts/GlobalHTMLLayout.astro";
import Top from "../../../../components/Sections/Top.astro";
---

<Layout name="Chain Of Command">
    <Top
        image="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/Other/Boats.jpeg"
    >
        <div id="title">
            <div>United States Navy</div>
            <div>Chain of Command</div>
        </div>
    </Top>
    <div id="info">
        <div id="chain">
            <div class="person">
                <div class="about">
                    <div class="personName">
                        Commander and Chief | President: Donald John Trump
                    </div>
                    <hr class="line" />
                    <div class="personAbout">
                        The 45th and 47th president of the USA
                    </div>
                </div>
                <img
                    class="portrait"
                    src="https://www.whitehouse.gov/wp-content/uploads/2025/01/Donald-J-Trump.jpg"
                />
            </div>
        </div>

        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <div class="about">
                <div class="personName">Vice President | James David Vance</div>
                <hr class="line" />
                <div class="personAbout">
                    James David Vance was elected to the U.S. Senate. As a
                    Senator, he was a pushing issues such as revitalizing
                    American manufacturing, and fighting for the prosperity of
                    working-class families across the country.
                </div>
            </div>
            <img
                class="portrait"
                src="https://github.com/Parlier-NJROTC/Assets/blob/main/People/JD-Vance.png?raw=true"
            />
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <img
                class="portrait"
                src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/Us_rep_mike_johnson_official_photo.jpg"
            />
            <div class="about">
                <div class="personName">
                    Speaker of the house | Mike Johnson
                </div>
                <hr class="line" />
                <div class="personAbout">
                    American lawyer and politician. He has served as the 56th
                    speaker of the United States House of Representatives since
                    2023. Johnson began his political career by winning a seat
                    in the Louisiana House of Representatives in 2015.
                </div>
            </div>
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <img
                class="portrait"
                src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/Marco-Rubio.jpg"
            />
            <div class="about">
                <div class="personName">Secretary of State | Marco Rubio</div>
                <hr class="line" />
                <div class="personAbout">
                    Rubio wrote and passed the Uyghur Forced Labor Prevention
                    Act, which represents the greatest turning point in
                    U.S.-China relations in decades. He also co-led the Hong
                    Kong Relations Act, and the VERDAD Act.
                </div>
            </div>
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <div class="about">
                <div class="personName">
                    Secretary of Defense | Honorable Pete Hegseth
                </div>
                <hr class="line" />
                <div class="personAbout">
                    Hegseth was commissioned as an infantry officer in the U.S.
                    Army National Guard. He participated in a number of
                    active-duty deployments during his time in service.
                </div>
            </div>
            <img
                class="portrait"
                src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/refs/heads/main/People/Pete%20Hegseth.jpeg"
            />
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <div class="about">
                <div class="personName">
                    Secretary of Navy | Honorable John Phelan
                </div>
                <hr class="line" />
                <div class="personAbout">
                    John Phelan (born 1964), is an American businessman and art
                    collector, and government official currently serving as the
                    79th United States secretary of the Navy under
                </div>
            </div>
            <img
                class="portrait"
                src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/refs/heads/main/People/john-phelan2.jpg"
            />
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <img
                class="portrait"
                src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/refs/heads/main/People/Admiral-Daryl-Caudle.jpg"
            />
            <div class="about">
                <div class="personName">
                    Chief of Naval Operations | Admiral Daryl Caudle
                </div>
                <hr class="line" />
                <div class="personAbout">
                    Adm. Daryl Caudle is a native of Winston-Salem, North
                    Carolina and a 1985 graduate of North Carolina State
                    University with a degree in chemical
                    engineering. He was then commissioned after attending
                    Officer Candidate School in Newport, Rhode Island. Caudle
                    holds advanced degrees from the Naval Postgraduate School,
                    Master of Science  in Physics; from Old
                    Dominion University, and Master of Science in Engineering
                    Management. He also attended the School of Advanced Studies,
                    University of Phoenix, where he obtained a Doctor of
                    Management in Organizational Leadership with a
                    specialization in Information Systems and Technology.
                </div>
            </div>
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <img
                class="portrait"
                src="https://github.com/Parlier-NJROTC/Assets/blob/main/People/220912-N-NO101-902.jpeg?raw=true"
            />
            <div class="about">
                <div class="personName">
                    Master Chief Petty Officer of the Navy | James M. Honea
                </div>
                <hr class="line" />
                <div class="personAbout">
                    Born in a military family in Lubbock, Texas, began his Navy
                    career in 1987. With numerous awards including the Defense
                    Superior Service Medal, he became the 16th MCPON on
                    September 8, 2022.
                </div>
            </div>
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <div class="about">
                <div class="personName">
                    Naval Education and Training Commander | Rear Admiral
                    Gregory C. Huffman
                </div>
                <hr class="line" />
                <div class="personAbout">
                    He has logged over 2,900 flight hours in 28 different
                    aircraft types and accumulated over 750 arrested landings.
                    Personal awards include the Defense Superior Service Medal
                    (three awards), Legion of Merit (six awards), Meritorious
                    Service Medal (two awards), Strike/Flight Air Medal, Navy
                    and Marine Corps Commendation Medal (four awards, one with
                    Combat V), and various campaign, unit and service awards. He
                    was named the Strike Fighter Wing Atlantic F/A-18 Pilot of
                    the Year for 1996 and received the Mike Longardt Leadership
                    Award in 2001.
                </div>
            </div>
            <img
                class="portrait"
                src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/Adm_Huffman.png"
            />
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <div class="about">
                <div class="personName">
                    Naval Service Training Commander | Rear Adm. Matthew T.
                    Pottenburgh
                </div>
                <hr class="line" />
                <div class="personAbout">
                    Rear Adm. Matt Pottenburgh, of Galena, Ohio graduated from
                    The Ohio State University, where he earned a Bachelor of
                    Science in Industrial Design and received Distinguished
                    Naval Graduate honors from Naval Reserve Officers Training
                    Corps. He holds a Master of Science in Operations Management
                    and Finance from the University of Arkansas and a Master of
                    Science in National Resource Strategy from the National
                    Defense University Dwight D. Eisenhower School.
                </div>
            </div>
            <img
                class="portrait"
                src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/refs/heads/main/People/250301-N-OV999-001.png"
            />
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <img
                class="portrait"
                src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/Mr-Bruce-Nolan.png"
            />
            <div class="about">
                <div class="personName">
                    Director of NJROTC | Mr. Bruce Nolan
                </div>
                <hr class="line" />
                <div class="personAbout">
                    Mr. Bruce Nolan, a native of New Orleans, Louisiana, found
                    his passion to serve and learned to lead as an NJROTC cadet
                    at Brother Martin High School. He earned a Navy ROTC
                    scholarship while at the University of Mississippi and
                    commissioned into the Navy as an Ensign in 1994. He
                    designated as a Naval Aviator in 1997. He holds a Master of
                    Science in Global Leadership from the University of San
                    Diego.
                </div>
            </div>
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <img
                class="portrait"
                src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/Ballard.jpg"
            />
            <div class="about">
                <div class="personName">
                    Area 22 service Manager | Master Chief Ken Ballard
                </div>
                <hr class="line" />
                <div class="personAbout">
                    An energetic retired Department of Defense professional with
                    over 28 years of experience, he specializes in Leader
                    Development, Marketing, Relationship Management, and
                    Operations. Committed to organizational growth and workforce
                    development, he has enhanced Leadership and Human Resources
                    Management throughout his career. Key accomplishments
                    include coordinating military and civilian efforts for the
                    operational success of over 43,000 service members in the
                    Pacific and unifying 22 Senior Human Resources Strategic
                    Partners in Guam while managing $16.6 million in assets.
                    Passionate about professional growth, she has supported the
                    career advancements of over 300 personnel and represented
                    the U.S. as an ambassador in several countries.
                </div>
            </div>
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <div class="about">
                <div class="personName">
                    Naval Science Instructor | Chief Killian
                </div>
                <hr class="line" />
                <div class="personAbout">
                    This is our naval Science Instructor.
                    <!-- Wordz -->
                </div>
            </div>
            <img
                class="portrait"
                src="https://raw.githubusercontent.com/Parlier-NJROTC/Assets/main/People/Chief_Smile.jpg"
            />
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <div class="about">
                <div class="personName">
                    Unit Cadet Commanding Officer (CO) | Cadet Lieutenant Jesus
                    Cruz
                </div>
                <hr class="line" />
                <div class="personAbout">
                    He is a junior, and he enjoys playing volleyball. If you
                    ever need help, please reach out to Cadet Lieutenant Jesus
                    Cruz, and he will always be here to listen to everyone’s
                    concerns and help if needed.
                </div>
            </div>
            <img
                class="portrait"
                src="https://github.com/Parlier-NJROTC/Assets/blob/main/People/20250523_194144~3.jpg?raw=true"
            />
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <img
                class="portrait"
                src="https://github.com/Parlier-NJROTC/Assets/blob/main/People/20250523_194059~2.jpg?raw=true"
            />
            <div class="about">
                <div class="personName">
                    Unit Cadet Executive Officer (XO) | Cadet Villanueva
                </div>
                <hr class="line" />
                <div class="personAbout">"Make my Unit Great Again"</div>
            </div>
        </div>
        <div class="down">
            <img
                class="arrow"
                src="/icons/arrow-down-direction-svgrepo-com.svg"
            />
        </div>
        <div class="person">
            <img
                class="portrait"
                src="https://github.com/Parlier-NJROTC/Assets/blob/main/People/20250523_194032.jpg?raw=true"
            />
            <div class="about">
                <div class="personName">
                    Senior Enlisted Advisor (SEL) | Cadet Chief Pena
                </div>
                <hr class="line" />
                <div class="personAbout">
                    He Deals With dissatisfied Cadets, Cadets that have
                    complaint about the unit, Investigate and report on all
                    complaints and/or suggestions
                </div>
            </div>
        </div>
        <!-- Add More If needed -->
    </div>

    <style>
        :root {
            --align: center;
        }
        body {
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
                sans-serif;
            overflow-x: hidden;
        }
        .personAbout a {
            color: var(--Text-color);
        }

        #background {
            width: 100vw;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 600px;
            background-repeat: no-repeat, repeat;
            background-position: 0% 25%;
            background-size: cover;
        }
        #title {
            position: relative;
            color: white;
            padding-inline: 5px;
            font-size: 50px;
            display: grid;
            row-gap: 50px;
            padding: 10px;
        }
        #title :nth-child(1) {
            position: relative;
            left: -5vw;
            background-color: rgba(255, 215, 0, 0.4);
            box-shadow: 0px 0px 10px 10px rgba(255, 215, 0, 0.4);
            padding: 5px;
        }
        #title :nth-child(2) {
            position: relative;
            right: -5vw;

            background-color: rgba(0, 0, 125, 0.4);
            box-shadow: 0px 0px 10px 10px rgba(0, 0, 125, 0.4);
            padding: 5px;
        }
        #title::before {
            content: "";
            position: absolute;
            top: -10px;
            left: -7vw;
            width: 50%;
            height: 5px;
            background-color: gold;
        }
        #title::after {
            content: "";
            position: absolute;
            bottom: -10px;
            right: -7vw;
            width: 50%;
            height: 5px;
            background-color: navy;
        }
        #info {
            display: grid;
            grid-auto-flow: row;
            background-color: var(--info-BG-color);
            text-align: center;
        }
        #chain {
            position: relative;
            display: grid;
            width: 100vw;
            padding-bottom: 50px;
        }
        .person {
            width: 100vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--Text-color);
        }
        .about {
            width: 50vw;
        }
        .personName {
            width: 50vw;
            height: 100px;
            font-size: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--Text-color);
        }
        .personAbout {
            padding-inline: 2vw;
            width: 50vw;
            font-size: 16px;
            box-sizing: border-box;
            color: var(--Text-color);
        }
        .line {
            align-self: start;
            width: 40vw;
            margin-inline: 5vw;
        }
        .portrait {
            width: 30vmin;
            align-self: end;
            right: 0px;
            margin-inline: 10vw;
            margin-block: 5vmin;
            border-image: linear-gradient(25deg, navy, #4e65ff, #92effd) 1;
            border-width: 4px;
            border-style: solid;
        }
        @media (orientation: portrait) {
            .portrait {
                margin-inline: 5vw;
                align-self: center;
            }
            .down {
                margin-bottom: 30px;
            }
            .personName {
                height: 100%;
            }
        }

        .down {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .arrow {
            width: 10vmin;
        }
    </style>
</Layout>
