<span>
    <div id="LightSide"></div>
    <div id="DarkSide"></div>
</span>

<style>
    #LightSide{
        left: 0px;
        top: 0%;

        position: absolute;

        height: 100%;
        width: 100%;

        background-color: blue;
    }
    #DarkSide{
        left: 0px;
        top: 100%;

        position: absolute;

        height: 100%;
        width: 100%;
        a

        background-color: red;
    }
</style>