<div id="External-Link-Warning">
    <h1 style="margin-left: 10%; font-size: 40px;">Wait!</h1>
    <h2 style="text-align: center;">You are Leaving our Website</h2>
    
    <div id="Choose-An-Link-Option">
        <button class="External-Link-Button">Stay Here</button>
        <button class="External-Link-Button">Continue</button>
    </div>
</div>
<style>
#External-Link-Warning{
    border: 5px solid black;
    position: absolute;
    left: 35%;
    top: 25%;
    width: 30%;
    height: 35%;
    overflow-y: auto;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
}
#Choose-An-Link-Option{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
    flex: 2; 
}
.External-Link-Button{
    min-width: 100px;
    min-height: 40px;
    cursor: pointer;
    height: 100%;  /* Added to maintain consistent height */
}
</style>